
<div class="modal-content">
  <div class="modal-header">
    <h3 class="modal-title"><%= params[:title] %> &mdash; <%= params[:call_no] %></h3>
    <button type="button" class="close" data-dismiss="modal">&times;</button>
  </div>

  <div class="modal-body">

    <% if @location_content.present? %>

        <% @item_location = JSON.parse(@location_content) %>

        <% if @item_location['image'].present? %>

          <div class="row modal-location">
            <div class="col-md-6">
              <h4 class="text-center"><span class="badge badge-success"><%= t('trln_argon.map_location.badge.building') %></span> <%= @item_location['building'] %></h4>
            </div>
            <div class="col-md-6">
              <h4 class="text-center"><span class="badge badge-success"><%= t('trln_argon.map_location.badge.area') %></span> <%= @item_location['area'] %></h4>
            </div>
          </div>

          <div class="col-md-12">
            <img src="//<%= @item_location['server_name'] %><%= @item_location['media_path'] %><%= @item_location['image'] %>" class="img-fluid .img-thumbnail" alt="location map">
          </div>

        <% elsif @item_location['extlink_title'].present? %>

          <div class="row">

            <div class="col-md-12 text-center">

              <h4><%= @item_location['extlink_title'] %></h4>

              <p><%= @item_location['generic_msg_content'].html_safe %></p>

              <p class="text-center"><a href="<%= @item_location['external_url'] %>" class="btn btn-success" target="_blank"><%= @item_location['extlink_text'] %></a></p>

            </div>

          </div>

        <% else %>

          <div class="row">

            <div class="col-md-12">

              <p class="text-center"><%= t('trln_argon.map_location.error') %></p>

            </div>

          </div>

        <% end %>

      <% else %>

        <div class="row">

          <div class="col-md-12">

            <p class="text-center"><%= t('trln_argon.map_location.error') %></p>

          </div>

        </div>

    <% end %>

  </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
  </div>
</div>
