<div class="mt-3 alert alert-warning alert-dismissible" role="alert"><button aria-label="Close" class="close" data-dismiss="alert"><span aria-hidden="true">×</span></button>
    <h3 class="alert-heading">Status of ongoing updates to the Library Catalog</h3>
    <p>The library is making iterative corrections to how data is displayed in the Books &amp; Media Catalog.</p>
    <ul>
        <li><a class="alert-link" href="https://library.duke.edu/using/migrate-aleph-to-alma">Learn about current known issues and workarounds</a></li>
        <li><a class="alert-link" href="https://library.duke.edu/research/ask">Report problems / Ask questions</a></li>
    </ul>
</div>
