<div class="alert alert-info alert-dismissible preview-alert preview-alert-<%= Rails.env %>" role="complementary">
  <small>
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
    <i class="fa fa-exclamation-triangle" data-toggle="tooltip" data-html="true" data-placement="right"
       data-title="Rails Env: &lt;strong&gt;<%= Rails.env %>&lt;/strong&gt;"></i>
      <span class="preview-alert-msg"><strong><%= DulArgonSkin.environment_alert %></strong></span>
      <span class="preview-alert-msg"> | </span>
      <span class="preview-alert-msg">DUL Argon Skin <strong>v<%= DulArgonSkin::Version %></strong></span>
      <% if git_branch_info.present? %>
        <span class="preview-alert-msg">Branch <strong><%= git_branch_info %></strong></span>
      <% end %>
      <% if git_commit_hash.present? %>
        <span class="preview-alert-msg">Last Commit <strong data-toggle="tooltip" data-html="true" data-placement="right"
           data-title="<%= git_commit_msg %>"><%= git_commit_hash %></strong></span>
      <% end %>
      <span class="preview-alert-msg"> | </span>
      <span class="preview-alert-msg">TRLN Argon <strong>v<%= Gem.loaded_specs['trln_argon'].version %></strong></span>
  </small>
</div>
