<%# Override of TRLN Argon partial. See: %>
<%# https://github.com/trln/trln_argon/blob/master/app/views/shared/_header_navbar.html.erb %>

<% inst = TrlnArgon::Engine.configuration.local_institution_code %>
<% inst_long = t("trln_argon.institution.#{TrlnArgon::Engine.configuration.local_institution_code}.long_name") %>

<% if DulArgonSkin.environment_alert.present? %>
  <%= render partial: 'shared/environment_alert' %>
<% end %>

<header>
  <%# Note: can't give this id="search-navbar" because TRLN Argon 2.0 removes that     %>
  <%# entirely in Advanced Search via JS. But #search-navbar must be present somewhere %>
  <%# for the field to get autosuggest behavior, so we assign that to the form.        %>
  <nav id="header-navbar" class="navbar navbar-expand-md pt-3" aria-label="Masthead navigation" role="navigation">
    <div class="<%= container_classes %>">
      <div class="row flex-grow-1">
        <div class="col-12 col-md-3 col-lg-4 col-xl-3 pl-0 pr-0" id="logo-col">
          <a href="<%= DulArgonSkin.dul_home_url %>" class="navbar-dul">
            <div class="navbar-logo">
              <span class="sr-only">Duke University Libraries</span>
            </div>
          </a>
          <a href="/" class="navbar-product-name text-decoration-none">
            <span class="product-name-primary">
              Catalog
            </span>
            <span class="product-name-secondary">
              Books &amp; Media
            </span>
          </a>
        </div>

        <div class="col-12 col-md-7 col-lg-5 col-xl-6 flex-column" id="search-col">
          <%= render_search_bar %>
        </div>

        <div class="col-sm-12 col-md-2 col-lg-3 col-xl-3 pl-0 pr-0" id="primary-menu">
          <div class="collapse navbar-collapse justify-content-md-end" id="user-util-collapse">
            <%= render 'shared/user_util_links' %>
          </div>
        </div>


        <%# Mobile menu button %>
        <div id="mobile-menu">
          <button type="button" class="mobile-menu-right-toggle navbar-toggle btn collapsed" data-toggle="collapse" data-target="#mobile-only-menu" title="Menu" aria-label="Toggle navigation">
            <span class="fa fa-bars"></span>
            <span class="sr-only">Menu</span>
          </button>
        </div>

      </div>
    </div>
  </nav>
</header>

<div id="dul-masthead-row">
  <div class="container">
    <div class="row justify-content-end">
      <div id="dul-masthead-filler"></div>
    </div>
  </div>
</div>

<%= javascript_include_tag \
      '//library.duke.edu/masthead/load-masthead.js.php?width=1820&amp;fixed=false&div=true',
      defer: true %>

<%= render partial: 'shared/mobile_menu' %>
