<!-- Matomo tracking code -->
<script type="text/javascript">

$( document ).ready(function() {

  var _paq = window._paq = window._paq || [];

  eventTracking.listenForClicks();

  // Facet values and modal "more" browse helper
  // -------------------------------------------

  $(document).on('click', '.more_facets a, .facet-pagination a', function(e){
    var link = $(this);
    // Carry the facet ID over to the modal "more" browse so clicks in there
    // can be attributed to the respective facet in Matomo Event Tracking.
    $('#blacklight-modal').addClass('facet-browse');
    $('#blacklight-modal .modal-dialog').first().attr('id', link.closest('[id]').attr('id'));
  });

  // Custom Dimensions
  // https://developer.matomo.org/guides/tracking-javascript-guide#custom-dimensions
  _paq.push(['setCustomDimension', customDimensionId = 1, customDimensionValue = '<%= matomo_catalog_scope %>']);
  _paq.push(['setCustomDimension', customDimensionId = 2, customDimensionValue = '<%= matomo_page_type %>']);

  _paq.push(['trackPageView']);
  _paq.push(['enableLinkTracking']);
  
  (function() {
    var u="//analytics.lib.duke.edu/";
    _paq.push(['setTrackerUrl', u+'matomo.php']);
    _paq.push(['setSiteId', '<%= DulArgonSkin.matomo_tracking_id %>']);
    var d=document, g=d.createElement('script'), s=d.getElementsByTagName('script')[0];
    g.async=true; g.src=u+'matomo.js'; s.parentNode.insertBefore(g,s);
  })();
  
});

</script>