<div class="navbar-right">

  <ul class="nav navbar-nav">

  <%# util links %>
    <%# my account %>
    <li>
      <a href="https://library.duke.edu/my-accounts" class="my-account" title ="My Accounts">
        <span class="nav-icon"><i class="fa fa-user"></i></span>
        <span class="nav-label">My Accounts</span>
      </a>
    </li>

    <%# ask a question %>
    <li>
      <a href="https://library.duke.edu/research/ask" class="ask-a-librarian" title="Ask a Librarian">
        <span class="nav-icon"><i class="fa fa-comment"></i></span>
        <span class="nav-label">Ask</span>
      </a>
    </li>

    <%# trigger dul mast %>
    <li>
      <a href="#" id="full-menu-toggle" class="full-menu" title="Menu">
        <span class="nav-icon"><i class="fa fa-bars"></i></span>
        <span class="nav-label">Menu</span>
      </a>
    </li>

  </ul>

</div>
