<!DOCTYPE html>
<%= content_tag :html, class: 'no-js', **html_tag_attributes do %>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">

    <!-- Mobile viewport optimization h5bp.com/ad -->
    <meta name="HandheldFriendly" content="True">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    
    <!-- Internet Explorer use the highest version available -->
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <%= render TrlnArgon::HighwireMetadataComponent.new(@document) %>

    <!-- Mobile IE allows us to activate ClearType technology for smoothing fonts for easy reading -->
    <!--[if IEMobile]>
      <meta http-equiv="cleartype" content="on">
    <![endif]-->
    <!-- data used by various JS routines -->
    <meta name="shared-application-data"
        id="shared-application-data"
        data-local-institution="<%= TrlnArgon::Engine.configuration.local_institution_code %>"
        data-google-books-logo-url="<%= asset_path('trln_argon/google_books_preview.png') %>">

    <title><%= render_page_title %></title>
    <%= opensearch_description_tag application_name, opensearch_catalog_url(:format => 'xml') %>

    <%= favicon_link_tag %>
    <%= stylesheet_link_tag "application", media: "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>

    <%# DUL CUSTOMIZATION: Matomo %>
    <% if DulArgonSkin.matomo_tracking_id.present? %>
      <%= render partial: "shared/matomo", locals: {
        matomo_tracking_id: DulArgonSkin.matomo_tracking_id } %>
    <% end %>

    <%# DUL CUSTOMIZATION: add custom favicon tags %>
    <%# see https://tinyurl.com/favicons-in-2021   %>

    <link rel="icon" href="<%= image_path('/favicon/favicon.ico') %>" sizes="any">
    <link rel="icon" href="<%= image_path('/favicon/favicon.svg') %>" type="image/svg+xml">
    <link rel="apple-touch-icon" sizes="180x180" href="<%= image_path('/favicon/apple-touch-icon.png') %>">
    <link rel="icon" type="image/png" sizes="32x32" href="<%= image_path('/favicon/favicon-32x32.png') %>">
    <link rel="icon" type="image/png" sizes="16x16" href="<%= image_path('/favicon/favicon-16x16.png') %>">
    <link rel="manifest" href="<%= image_path('/favicon/site.webmanifest') %>">
    <link rel="mask-icon" href="<%= image_path('/favicon/safari-pinned-tab.svg') %>" color="#053482">
    <meta name="msapplication-TileColor" content="#053482">
    <meta name="theme-color" content="#ffffff">

    <%= content_for(:head) %>
  </head>
  <body class="<%= render_body_class %>">
  <div id="matomo-configs" data-matomo-tracking-id="<%= DulArgonSkin.matomo_tracking_id %>" data-matomo-debug="<%= DulArgonSkin.matomo_debug %>"></div>
  <nav id="skip-link" role="navigation" aria-label="<%= t('blacklight.skip_links.label') %>">
    <%= link_to t('blacklight.skip_links.search_field'), '#search_field', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
    <%= link_to t('blacklight.skip_links.main_content'), '#main-container', class: 'element-invisible element-focusable rounded-bottom py-2 px-3', data: { turbolinks: 'false' } %>
    <%= content_for(:skip_links) %>
  </nav>
  <%= render :partial => 'shared/header_navbar' %>

  <%= render partial: 'shared/modal' %>
  <%= render partial: 'submast' %>

  <div id="main-container" class="<%= container_classes %>" role="main" aria-label="<%= t('blacklight.main.aria.main_container') %>">
    <%= content_for(:container_header) %>

    <%= render :partial=>'shared/flash_msg', layout: 'shared/flash_messages' %>

    <div class="row">
      <%= content_for?(:content) ? yield(:content) : yield %>
    </div>
  </div>

  <%= render :partial => 'shared/footer' %>
  </body>
<% end %>
