body {
  font-family: "Source Sans Pro", Calibri, Candara, Arial, sans-serif;
  font-size: 16px;
  background-color: #eee;
  position: relative; /* needed for Bootstrap scrollspy */
}

#main-container {
  margin-top: 20px;
  & > .row {
    background: white;
    padding: 0 15px;
  }
  #content {
    padding-bottom: 30px;
    h1 {
      margin-top: 2rem;
      margin-bottom: 0.5rem;
    }
  }
}

.contracted, .contracted-ul { /* faded expandable text, overrides trln_argon */
  max-height: 4.4em !important;
}

a:hover {
  color: $link-hover-color;
}

.underlined-links a {
  text-decoration: underline;
  text-decoration-color: $link-hover-color;
}

.dropdown-toggle:focus {
  /* for a11y: override bootstrap outline: 0 */
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

.navbar-default .navbar-nav > li > a {
  color: $gray-700;
}

img.trln_request_icon {
  margin-right: 0.4em;
}

.url-note {
    background: #e6f3e7;
    border-left: 4px solid #00830e;
    padding: 5px 10px;
    color: #00760d;
}

p[class^="citation_style"] {
    margin: 0 0 25px;
}

code {
  font-size: 12px;
  color: #c7254e;
  background-color: #f9f2f4;
  border-radius: 4px;
  padding: 2px 4px;
}
