form.bookmark-toggle {
  margin-top: 8px;
}

.checkbox.toggle-bookmark {
  label {
    cursor: pointer;
    min-width: auto;
    margin: 0;
    &::before {
      content: '';
      position: relative;
      display: inline-block;
      width: 30px;
      height: 30px;
      background-size: contain;
      background-repeat: no-repeat;
      background-image: asset_url('folder_unchecked.png');
    }
    &.checked {
      &::before {
        background-image: asset_url('folder_checked.png');
      }
    }
    &:focus-within {
      outline: 2px solid $primary-link-color !important;
    }
    /* Hide the checkbox element but keep it in the flow */
    /* so it can still receive focus via keyboard.       */
    input[type=checkbox] {
      @include sr-only;
      position: static;
      margin: 0;
      width: 0;
      height: 0;
      opacity: 0;
    }
    /* The text of the label: mixin .sr-only styles for a11y. */
    /* Note it is still used as the tooltip (via JS)          */
    span {
      @include sr-only;
      margin: 0;
    }
  }
}

/* Note: as of trln_argon 2.1.x & Blacklight 7.28.x there seems  */
/* to be an issue setting link_classes on action components in   */
/* the bookmarks context, so we'll just use CSS instead for now. */
.bookmarksTools {
  a {
    margin-right: 1.25rem;
  }
}
