.btn {
  border-width: 2px;
  transition-duration: 0.1s;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  &.btn-sm {
    border-width: 1px;
  }
}

.btn:hover, .btn:focus {
  box-shadow: 1px 1px 0.2em rgba(0,0,0,0.1);
}

.btn-link, .btn-link:hover, .btn-link:focus {
  border: none !important;
  box-shadow: none !important;
}

.btn-primary {
  background-color: white;
  border-color: $brand-primary;
  color: $brand-primary;
  &:focus {
    box-shadow: 0 0 0 0.2rem rgba(5, 52, 130, 0.5);
    border-color: $brand-primary;
    background-color: $brand-primary;
    color: white;
  }
  &:hover,
  &:active,
  &:not(:disabled):not(.disabled):active {
    border-color: $brand-primary;
    background-color: $brand-primary;
    color: white;
  }
  &.disabled:hover,
  &.disabled:focus,
  &.disabled.focus,
  &[disabled]:hover,
  &[disabled]:focus,
  &[disabled].focus {
    color: #fff;
  }

}

.btn-primary-action {
  font-weight: bold;
  background-color: $brand-primary;
  border-color: $brand-primary;
  color: white;
  &:hover, &:focus {
    border-color: shade($brand-primary, 10%);
    background-color: shade($brand-primary, 10%);
    color: white;
  }
}

.btn-secondary {
  background-color: white;
  border-color: $gray-500;
  color: $gray-800;
  &:hover, &:focus {
    background-color: tint($gray-600, 94%);
    border-color: $gray-500;
    color: $gray-800;
  }
}

.btn-secondary-action {
  font-weight: bold;
  background-color: $gray-600;
  border-color: $gray-600;
  color: white;
  &:hover, &:focus {
    border-color: shade($gray-600, 25%);
    background-color: shade($gray-600, 25%);
    color: white;
  }
}

.btn-success {
  background-color: white;
  color: $brand-success;
  border-color: $brand-success;
  font-weight: normal;
  &:hover, &:focus {
    background-color: tint($brand-success, 94%);
    border-color: $brand-success;
    color: $brand-success;
  }
}

.btn-success-action {
  font-weight: bold;
  background-color: $brand-success;
  border-color: $brand-success;
  color: white;
  &:hover, &:focus {
    border-color: shade($brand-success, 10%);
    background-color: shade($brand-success, 10%);
    color: white;
  }
}

.btn-info {
  background-color: white;
  color: $brand-info;
  border-color: $brand-info;
  font-weight: normal;
  &:hover, &:focus {
    background-color: tint($brand-info, 94%);
    border-color: $brand-info;
    color: $brand-info;
  }
}

.btn-info-action {
  font-weight: bold;
  background-color: $brand-info;
  border-color: $brand-info;
  color: white;
  &:hover, &:focus {
    border-color: shade($brand-info, 10%);
    background-color: shade($brand-info, 10%);
    color: white;
  }
}

.btn-warning {
  background-color: white;
  color: $gray-800;
  border-color: $brand-warning;
  font-weight: normal;
  &:hover, &:focus {
    background-color: tint($brand-warning, 94%);
    border-color: $brand-warning;
    color: $gray-800;
  }
}

.btn-warning-action {
  font-weight: bold;
  background-color: $brand-warning;
  border-color: $brand-warning;
  color: $gray-800;
  &:hover, &:focus {
    border-color: shade($brand-warning, 10%);
    background-color: shade($brand-warning, 10%);
    color: $gray-800;
  }
}

.btn-danger {
  background-color: white;
  color: $brand-danger;
  border-color: $brand-danger;
  font-weight: normal;
  &:hover, &:focus {
    background-color: tint($brand-danger, 94%);
    border-color: $brand-danger;
    color: $brand-danger;
  }
}

.btn-danger-action {
  font-weight: bold;
  background-color: $brand-danger;
  border-color: $brand-danger;
  color: white;
  &:hover, &:focus {
    border-color: shade($brand-danger, 10%);
    background-color: shade($brand-danger, 10%);
    color: white;
  }
}

.btn-link {
  color: $primary-link-color;
  &:hover {
    color: $link-hover-color;
  }
}

#search-navbar .btn {
  border-width: 1px;
}

/* NOTE: designed to look like a DUL .btn-success. Consider adding that */
/* button class to the View Online links in TRLN Argon. */

.primary-url .link-type-fulltext, .primary-url .link-type-findingaid {
  color: $brand-success;
  background: white;
  line-height: 1.2;
  text-align: left;
  border: 2px solid $brand-success;
  border-radius: 4px;
  padding: 0.4em 0.75em 0.4em 2em;
  transition-duration: 0.1s;
  transition-property: background-color;
  transition-timing-function: ease-in-out;
  &:hover, &:focus {
    background-color: tint($brand-success, 94%);
    box-shadow: 1px 1px 3px rgba(0,0,0,0.1);
  }
}

.primary-url .link-restricted-unc, .primary-url .link-restricted-ncsu, .primary-url .link-restricted-nccu {
  color: $gray-600;
  border: 2px solid $gray-600;
  &:hover, &:focus {
    background-color: tint($gray-600, 94%);
  }
}

.primary-url .modal-button-wrapper {
  padding-bottom: 10px;
}

/* NOTE: designed to look like a DUL .btn-info. Consider using only that */
/* button class on the 'show more' links. */

#documents .items .btn-info, #document #holdings .items .btn-info {
  background-color: white;
  border: 2px solid $primary-link-color;
  color: $primary-link-color;
  &:hover, &:focus {
   background-color: tint($primary-link-color, 94%);
  }
}

.feedback-link {
  border: 3px solid #fff;
}

.page-header .advanced-search-start-over {
  display: none;
}

#documents .items .items-toggle,
#document #holdings .items .items-toggle {
  margin-bottom: 0.5em;
}


/* show/hide buttons */

.btn-show,
.btn-hide {
  font-size: .9em;
  color: $primary-link-color;
  &:hover {
    color: $cast-iron;
  }
}


// Toggle buttons

#viewAllResults .toggle {

  .btn {
    border-color: $gray-500;
  }

  #toggle-local-btn-top {
    @include media-breakpoint-up(md) {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.active {
      background-color: $primary-color;
      border-color: shade($primary-color, 25%);
    }
  }

  #toggle-trln-btn-top {
    @include media-breakpoint-up(md) {
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }

    &.active {
      background-color: $trln-magenta;
      border-color: shade($trln-magenta, 25%);
    }
  }
}


/* constraint buttons */

#appliedParams {
  .applied-filter.constraint {
    background-color: #fff;
    .btn {
      border-color: $gray-500;
    }
    .constraint-value.btn:hover {
      color: #6c757d !important;
      background-color: #fff !important;
      cursor: auto !important;
    }
    .btn.remove:hover {
      border-color: $dul-dulcet-red;
    }
  }
}
