.bootstrap-select {
  // Active state
  .dropdown-menu > .active > a {
    &,
    &:hover,
    &:focus {
      background-color: $gray-400;
    }
  }

  @include media-breakpoint-down(sm) {
    .bs-caret {
      padding-right: 10px;
    }
  }
}
