/* DUL CUSTOM hack around BL core's hard-coded facet toggle breakpoint
/* https://github.com/projectblacklight/blacklight/issues/2733 */


.facets-header {
  @include media-breakpoint-down(sm) {
    border: 1px solid $gray-500;
    margin-bottom: 1em;
    padding: 1em;
    align-items: flex-end;
  }
}

#localFilterLabelFacets {
  margin-top: 1.25em;
}

.facets-toggleable-md {
  @include media-breakpoint-up(md) {
    .facets-collapse {
      display: block !important;
      width: 100%;
    }

    .navbar-toggler {
      display: none;
    }
  }
}

#facets {
  a {
    color: $gray-700;
    &:hover {
      color: $link-hover-color;
    }
    &.remove:hover {
      color: $brand-danger;
    }
  }

  span.selected {
    color: $brand-success;
  }

  span.selected + .facet-count {
    color: $brand-success;
  }

  span.facet-count {
    line-height: 19.2px;
  }

  ul.facet-values {
    .facet-label span.selected {
      color: $brand-success !important;
    }
    .selected.facet-count {
      color: $brand-success !important;
    }
  }

  ul .h-leaf {
    span.selected {
      color: $brand-success;
    }
    span.selected + .facet-count {
      color: $brand-success;
    }
  }

  .facet-field-heading a {
    color: $gray-800;
  }

  .facet_limit-active .facet-field-heading a {
    color: white;
  }

  .panel-success > .panel-heading, .facet_limit-active > .panel-heading, .checkbox-facet-checked {
    background-color: $primary-color;
    border-color: $primary-color;
  }

  & .top-panel-heading {
    padding: 0;
    @include media-breakpoint-down(sm) {
      padding: 15px;
    }
  }
  & .panel.facet_limit {
    margin-top: 0;
    margin-bottom: 5px;
    border-radius: 0;
  }

  .facet-values li {
    .selected, &.selected:hover {
      color: $brand-success;
    }
  }

}

// available online checkbox
#checkbox_wrapper_access_type_f {
  .facet-label input {
    margin-right: 0.15em;
  }
}

// flexbox adjustments for DUL
div.facet-content {
  ul.facet-values li {

    span.facet-label {
      flex: 1 1 67.5%;

      @include media-breakpoint-up(sm) {
        flex: 1 1 67.5%;
        margin-right: 2.5%;
      }

      @include media-breakpoint-up(md) {
        flex: 1 1 100%;
        margin-right: 0;
      }

      @include media-breakpoint-up(xl) {
        flex: 1 1 calc(62.5% - 1em);
        margin-right: 2.5%;
        margin-left: 1em; // reverse indentation
        text-indent: -1em; // reverse indentation
      }

    }

    span.facet-count {
      flex: 0 0 30%;
      line-height: 19.2px;

      @include media-breakpoint-up(sm) {
        flex: 0 0 30%;
        text-align: right
      }

      @include media-breakpoint-up(md) {
        flex: 1 1 100%;
        text-align: left;
      }

      @include media-breakpoint-up(xl) {
        flex: 0 0 32.5%;
        text-align: right;
      }

    }

  }
}

/* Facet Hierarchy style overrides */
.facet-hierarchy {
  .twiddle > .toggle-handle .toggle-icon {
    min-width: 0.8rem;
    min-height: 0.8rem;
  }
  .h-leaf {
    padding-left: 1.0rem;
  }
}
