/* ============================================== */
/* Styles specific to DUL Catalog & TRLN homepage */
/* ============================================== */

h1.main-title {
  font-size: 40px;
}

.tagline {
  font-size: 22px;
  color: $gray-600;
}

.trln-banner-logo {
  margin-top: 19px;
}

.home-other-resources {
  &.list-inline {
    margin-left: 0;
    & > li {
      padding-left: 0;
      padding-right: 0;
      a:after {
        content: '';
        border-right: 1px dotted $granite;
        margin: 0 0.25em 0 0.75em;
      }
      &:last-child a:after {
        border: none;
        margin: 0;
      }
    }
  }
}
