/* =============== */
/* ALERT BAR       */
/* =============== */
.preview-alert {
  margin-bottom: 0;
  border-radius: 0;
  background-color: tint($brand-success, 90%);
  border-bottom: 10px solid $brand-success;
  color: shade($brand-success, 10%);

  & .preview-alert-msg {
    margin-right: 1em;
  }
}

/* Note we can't use #search-navbar for this now because */
/* TRLN Argon v2 removes that via JS in advanced search */
#header-navbar {
  background: $dul-masthead-blue;
  position: relative;
  border-top: none;
  margin-bottom: 0;

  box-shadow: 0 1px 1px rgba(0,0,0,0.06),
              0 2px 2px rgba(0,0,0,0.06),
              0 4px 4px rgba(0,0,0,0.06),
              0 8px 8px rgba(0,0,0,0.06);

  /* =============== */
  /* BRANDING / LOGO */
  /* =============== */

  .navbar-dul {
    margin-right: 1.25em;
    float: left;
    @include media-breakpoint-only(xs) {
      margin-right: .75em;
    }
    @include media-breakpoint-only(md) {
      margin-right: .5em;
    }

    @include media-breakpoint-down(sm) {
      margin-left: 1em;
    }

    .navbar-logo {
      width: 134px;
      height: 44px;
      background-size: cover;
      background-image: asset_url('branding/dul_logo_white.png');
      margin-right: 0;
      margin-top: 0;
      @include media-breakpoint-only(xs) {
        background-image: asset_url('branding/dul_devil_white.png');
        width: 24px;
      }
      @include media-breakpoint-only(md) {
        background-image: asset_url('branding/dul_devil_white.png');
        width: 24px;
      }
    }
  }

  .navbar-product-name {
    float: left;
    padding: 0;
    margin: 0;
    text-transform: uppercase;

    &:hover, &:active, &:focus {
     text-decoration: none;
     .product-name-secondary {
       color: #ddd;
     }
    }

    .product-name-primary {
      display: block;
      font-weight: bold;
      font-size: 31px;
      line-height: 22px;
      margin-top: 0;
      color: white;
    }
    .product-name-secondary {
      display: block;
      color: #ccc;
      font-size: 18px;
      margin-top: 1px;
      padding-top: 0;
      padding-left: 1px;
    }
  }

  /* =========== */
  /* SEARCH FORM */
  /* =========== */
  form.navbar-form {
    margin: 0;
    padding: 0;
    max-width: none;
    box-shadow: none;
    -moz-box-shadow: none;
  }

  .mast-search {
    padding-top: 0;

    .input-group {
      .twitter-typeahead {
        width: 100%;
        .tt-menu {
          font-family: inherit;
          background-color: white;
        }
      }

      .input-group-prepend {
        flex: 0 0 7em;
      }

      .text-input-wrapper {
        background: white;
      }

      label {
        color: white;
      }

      button#search {
        border-width: 1px;
      }
    }
  }
  .search-extra-controls {
    margin-top: 0;
    text-align: left;
    .input-group-element {
      display: none;
    }
  }
  a.advanced_search {
    color: #ddd;
    font-size: 15px;
    &:hover {
      color: white;
    }
  }

  #bookmarks_nav {
    margin-left: 1.25em;
    color: #ddd;
    font-size: 14px;

    &:hover {
      color: white;
    }
  }

  /* ============== */
  /* MASTHEAD LINKS */
  /* ============== */

  #user-util-collapse {
    float: right;
    /* Hide in mobile mode; use the #mobile-only-menu button instead */
    @media (max-width: 813px) {
      display: none !important;
    }

    .navbar-nav {
      margin-top: .5em;
      margin-bottom: 0;

      > .open > a {
        color: white;
        background-color: transparent;
      }

      a {
        color: $gray-300;
        text-transform: none;
        margin-bottom: 0;
        font-size: 15px;
        padding: 4px 7px 0 7px;
        @include media-breakpoint-up(lg) {
          padding: 4px 9px 0 9px;
        }

        &:hover {
          color: white;
          background-color: transparent;
          text-decoration: none;
        }

        &:focus {
          color: white;
          background-color: transparent;
        }

        & .nav-label {
          padding-left: .5rem;
        }

        @include media-breakpoint-only(lg) {
          padding-left: .25em;

          & .nav-label {
            padding-left: .25rem;
          }
        }

        &#full-menu-toggle.menu-active i::before {
          content: "\f00d"
        }
      }

      @include media-breakpoint-down(md) {
        .nav-label,
        .nav-label-signedin {
          display: none;
        }
      }
    }
  }

  #search_field {
    background-color: $gray-200;
    border-radius: .25rem 0 0 .25rem !important;
    &:hover, &:active, &:focus {
      background-color: shade($gray-200, 10%);
      cursor: pointer;
    }
  }


  #mast-search .dropdown-menu {
    background-color: white;
  }

  .dropdown-toggle.current-user {
    text-overflow: ellipsis;
  }


  /* ============= */
  /* Mobile Toggle */
  /* ============= */

  #mobile-menu {
    position: absolute;
    top: 0.5rem;
    right: 1rem;
    display: none;
    /* Patch the void between 768px & 991px where the shared DUL mast expects */
    /* to be fully in mobile mode but DUL catalog does not. This breakpoint   */
    /* mismatch complicates things a bit. */
    @media (max-width: 812px) {
      display: block;
    }
  }

  .btn.navbar-toggle {
    color: $gray-300;
    font-size: 24px;
    background-color: inherit;
    border: none;
    padding: 0;
    margin: 0;
    &:hover {
      color: white;
    }
    &:not(.collapsed) {
     color: white;
    }
    &:focus {
      /* See https://ghinda.net/article/mimic-native-focus-css/ */
      outline-style: solid;
      outline-width: 3px;
      outline-offset: 2px;
      outline-color: Highlight;
      /* Chrome & Safari */
      @media screen and (-webkit-min-device-pixel-ratio:0) and (min-resolution:.001dpcm) {
        outline-color: -webkit-focus-ring-color;
        outline-width: 5px;
        outline-style: auto;
      }
      /* Firefox */
      @-moz-document url-prefix() {
        outline-width: 3px;
      }
    }
  }
}

/* ====================== */
/* Mobile-Only Menu */
/* ====================== */

#mobile-only-menu {
  background: $secondary-color;
  .navbar-nav {
    margin-top: 0;
    background: $secondary-color;
    a {
      color: white;
      &:hover, &:focus {
        margin: 0 -15px;
        padding-left: 15px;
        padding-right: 15px;
        background: $brand-success;
      }
    }
  }

  /* Breakpoint different from $screen-sm b/c shared DUL */
  /* megadropdowns would not render between 768-813px */
  @media (min-width: 813px) {
    display: none;
  }
}

/* ====================== */
/* DUL Masthead Overrides */
/* ====================== */
/* Just show the primary nav menu from the shared mast; hide the rest */
/* TODO: Consider adding a menu-only option to dul-masthead app, e.g., via */
/* a parameter, so the markup for these hidden elements doesn't render at all */

#dul-masthead-row, #dul-masthead-row .nav {
  background: $secondary-color;
}

.dul-masthead-bar {
  #dul-masthead-dul-megamenu {
    height: auto;
    /* Hide all the parts of the shared mast that we won't use */
    .dul-masthead-region-logo,
    .dul-masthead-region-scoped-search,
    .dul-masthead-region-myaccount,
    #dul-masthead-logo,
    .dul-masthead-mobile-menu,
    #dul-masthead-nav-trigger-btn,
    .hide-link-text,
    li.dul-masthead-megamenu_button {
      display: none !important;
    }
    #dul-masthead-region-megamenu {
      display: none;
      margin-top: 0;
    }
    .dul-masthead-megamenu_container ul {
     padding: 0;

     li.dul-masthead-mega_toplevel {
       padding: 12px;
       > a {
         font-weight: 400;
         color: white;
       }
     }

     div.dul-masthead-dropdown_fullwidth {
       box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
       border-top: none;
       margin-top: 5px;
       @include media-breakpoint-only(md) {
         border-left: 150px solid $gray-200 !important;
       }
       @include media-breakpoint-up(lg) {
         border-left: 200px solid $gray-200 !important;
       }
     }
    }

    .dul-masthead-no-touch ul li.dul-masthead-mega_toplevel:hover {
      background: $brand-success;
      border-top: 0;
      margin-top: 0 !important;
      > a {
        color: white;
      }
    }
    .dul-masthead-megamenu_container div.dul-masthead-dropdown_fullwidth a {
      color: $primary-link-color;
      &:hover {
        color: $link-hover-color;
        text-decoration: underline;
      }
    }
  }

}

/* ====================== */
/* TRLN Sub-banner        */
/* ====================== */

.blacklight-catalog #trln-banner {
  display: none;
}

.blacklight-trln, .blacklight-advanced_trln {

  #trln-banner {
    display: block;
    background: white;
    padding: .8em 1em .8em 1em;
    border-top: 4px solid $trln-magenta;
    box-shadow: 0px 1px 5px 2px rgba(50,50,50,0.2);
    .container {
      padding-left: 0;
    }
    .trln-home-link {
      color: #333;
      font-size: 21px;
      font-weight: bold;
      text-transform: uppercase;
      &:hover, &:active, &:focus {
        color: $link-hover-color;
        text-decoration: none !important;
      }
      @include media-breakpoint-only(xs) {
        font-size: 18px;
      }
    }
    .submast-separator {
      color: $trln-magenta;
      padding: 0 0.15em;
    }
  }
}
