#documents .items,
#document #holdings .items {
  padding-top: 1.5em;
  body.body.blacklight-catalog-index & {
    padding-top: 1.25em;
  }
}

/* fix spacing bug */
@media screen and (min-width: 992px) {
  body.blacklight-trln .status-wrapper {
    padding-left: 0;
  }
}

#document, #documents {

  div.items h3,
  div.availability h3 {
    color: #444;
  }

  .item-group-display, .location-header {
    dl {
      margin-bottom: 0;

      dt {
        /* Visually hide the badges but play nicely with screen readers */
        @include sr-only;
      }
      dd {
        margin-bottom: .5em;
      }
    }
  }

  /* Holdings well style -- maybe this could eventually be color */
  /* coded (green/red/neutral) to signify overall availability */
  .items, #holdings .items {
    overflow: visible;
    border: none;
    margin: 0 0 10px 0;
    border-left: 8px solid #ddd;
    clear: both;

    .location-header .item-availability-misc a.avalability-details {
      text-decoration: underline !important;
    }

    a.avalability-details i.fa-external-link {
      font-size: .85em;
      padding-left: .35em;
    }

    .url-note-wrapper {
      display: none;
    }

    .institution-availability {
      /* Emulate a .row wrapping the .col -- may be better to fix */
      /* in TRLN Argon */
      .primary-url {
        margin-left: -15px;
        margin-right: -15px;
      }
    }

    .location-narrow-group {
      background-color: tint($primary-link-color, 90%);
      border-top: 0;
      border-bottom: 0;
      border-right: 0;
      border-left: 8px solid $primary-link-color;
      width: 100%;
      padding: 10px 8px;
      width: calc(100% + 26px);
      margin: 12px -25px 5px -17px;

      .row.contracted:after {
        background: linear-gradient(to right, rgba(230, 237, 250, 0), tint($primary-link-color, 90%) 50%);
      }

      .row.expandable-content {
        margin-left: 0;

        dl {
          margin-bottom: 0;
          dt {
            margin-bottom: .25em;
          }
        }
      }

      .call-number-wrapper {
        width: 100%;
        font-weight: bold;
      }
      .summary-text-wrapper.contracted:after {
        background: linear-gradient(to right, rgba(243, 243, 243, 0), tint($primary-link-color, 90%) 50%);
      }
      .holding-note {
        font-style: italic;
        font-size: 15px;
      }
    }

    /* Staff view (barcode) link */
    .staff-view-toggle-wrapper {
      font-size: 12px;
    }

    .staff-view-index {
      display: none;
    }

    &:hover .staff-view-index {
      display: block;
    }

    .staff-view-show {
      display: block;
    }

  }

  .location-header {
    & .loc-broad, .loc-narrow, h4, h3 {
      font-weight: bold;
      font-size: 1rem !important;
      text-transform: uppercase;
      color: #444;
    }

    & + .item-group-display::before {
      display: block;
      content: '';
      margin-top: 10px;
      border-top: 1px solid #e3e3e3;
    }
  }

  .call-number:empty:before {
    content: 'No Call Number';
  }

  .expandable-content, .expandable-content-controls {
    margin-right: 15px;
  }

  .items .holding .status-wrapper dl {
    margin-top: 1em;
    dt {flex: 0 0 5.25em;}

    @media screen and (min-width: 992px) {
      margin-top: 0;
      dt { flex: 0 0 5.25em; }
    }
  }

  .available {
    padding-left: 20px;
    font-weight: normal;
    text-transform: capitalize;

    body.blacklight-trln-show & {
      padding-left: 0;
    }
  }

}


/* Holdings expand/collapse */

.holdings-wrapper.contracted {
  max-height: 80px;
}

.holdings-wrapper.contracted:after {
  background: linear-gradient(to right, rgba(243, 243, 243, 0), tint($primary-link-color, 90%) 50%);
}


/* item summary, sample chapter, etc. expand/collapse */
#enhanced-data .contracted:after {
  background: linear-gradient(to right, rgba(255, 255, 255, 0), rgba(255,255,255,1) 50%);
}
