#blacklight-modal,
#trln-request-modal,
.modal.fulltext-links-modal {
  .modal-dialog {

    @include media-breakpoint-up(md) {
      max-width: 38em;
    }
  }
}

.modal-info {
  color: $brand-info;
}
