@media print {
  /* hide things */
  .feedback-link-wrapper,
  .map-info,
  .index-document-functions,
  .staff-view-toggle-wrapper,
  .sidebar-top-link,
  .request-from-duke,
  .doc-tools,
  .sidebar-menu,
  .report-missing-item,
  .modal-header button,
  .modal-footer,
  .pagination-search-widgets,
  #content .search-widgets,
  #trln-banner,
  #viewAllResultsEnd {
    display: none !important;
  }

  /* fill full width of the page */
  #content,
  #document {
    width: 100% !important;
    max-width: 100%;
  }

  body.blacklight-catalog-index,
  body.blacklight-trln-index,
  body.blacklight-catalog-show {
    #content {
      flex: 0 0 100%;
    }
  }

  body.blacklight-catalog-show {
    #title-and-thumbnail .blacklight.thumbnail {
      display: block !important;
    }
  }

  /* remove fancy borders */
  #document .items, 
  #document #holdings .items, 
  #document .items .location-narrow-group, 
  #document #holdings .items .location-narrow-group,
  #documents .items,
  #documents .items .location-narrow-group, 
  #documents #holdings .items .location-narrow-group {
    border-left: none !important;
  }

  #document #holdings .items,
  #documents .items,
  .items.card,
  .location-narrow-group {
    background-color: white;
    padding: 0;
    margin: 0;
  }

  .location-narrow-group {
    margin-left: 0 !important;
  }

  /* hide gradients */
  .contracted:after {
    background: none !important;
  }

  /* show labels */
  #document .items dt, 
  #document .items .institution-availability dt, 
  #documents .items dt, 
  #documents .items .institution-availability dt {
    width: unset;
    display: unset;
    span.badge {
      border: none !important;
      padding:0;
      margin: 0;
      font-size: 1em;
      &::after {
        content: ': ';
      }
    }
  }

  .show-main-content-partials a {
    break-inside: avoid;
  }

  .location-narrow-group 

  /* hide main container when modal is open */
  body.modal-open div#main-container {
    display: none;
  }

  .modal-content {
    margin-top: 50px;
    border: none !important;
    width: 100%;
    text-align: center;
  }

  .modal-content img {
    width: 100%;
  }
}
