.constraints-container {
  background: #eee;
  border: none;
  box-shadow: none;
  border-radius: 0 0 0 8px;
  margin-top: -1px;
  margin-right: -31px;
  padding-right: 31px;
  .btn-outline-secondary {
    border-color: $gray-500;
    color: $gray-700;
  }
  .remove {
    border-width: 1px;
  }
  @include media-breakpoint-only(xs) {
    margin-right: 0;
    padding-right: 15px;
  }
  @include media-breakpoint-up(sm) {
    padding-top: 0;
  }
}

#appliedParams {
  background-color: #eeeeee;
  border: none;
  border-radius: 0 0 0 8px;
}

#previousNextDocument {
  border-bottom: none;
}

#previousNextDocument.border {
  border-bottom: 1px solid #ddd;
}

.blacklight-catalog-index, .blacklight-trln-index, .blacklight-bookmarks-index {
  #sortAndPerPage {
    margin-top: 1.25em;
    border-bottom: 1px solid #ddd; /* do this in a different way!, use ::before like on old argon? */
    margin-bottom: 1em;
    padding-bottom: 1em;
    margin-left: 0;
    margin-right: 0;

    div:nth-child(1) {
      padding-left: 0;
    }

    div:nth-child(2) {
      padding-right: 0;
    }

    .search-widgets {
      justify-content: flex-end;

      /* Note: this needs a bugfix in trln_argon for TRLN view      */
      /* See stylesheets/trln_argon/trln_argon_shared.scss#L514-L520 */
      .btn {
        padding: 5px 10px;
        font-size: 14px;
        line-height: 1.5;
        border-radius: 3px;
        border-color: $gray-500;
        &.btn-outline-secondary:not(:active):not(.active) {
          color: $secondary-link-color;
        }
        &.btn-outline-secondary:not(:disabled):not(.disabled):active,
        &.btn-outline-secondary:not(:disabled):not(.disabled).active,
        &.btn-outline-secondary.dropdown-toggle {
          background-color: #fff;
        }
        &:active,
        &.clear-bookmarks:active {
          color: white !important;
        }
        &:hover {
          background: $gray-100 !important;
          color: $secondary-link-color !important;
        }
        &.btn-danger {
          color: $brand-danger;
          border-color: $brand-danger;
          &:hover {
            background-color: tint($brand-danger, 94%);
            border-color: $brand-danger;
            color: $brand-danger;
          }
        }
      }

      .btn-secondary {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 1.5;
        border-radius: 3px;
        border-color: $gray-500;
        &#rss_button {
          line-height: 1em !important;
          font-size: 22px !important;
          padding: 4px 8px !important;
          color: $gray-500 !important;
          &:hover {
            background: #e27800 !important;
            border-color: #e27800;
            color: white !important;
          }
        }
      }
    }
  }
}

#documents {
  .document {
    border-bottom: none;
    padding-bottom: 10px;
    .documentHeader.row {
      margin: 0;
      &:before {
        content: "";
        display: none;
      }
      &:after {
        clear: none;
      }
    }
    h3.document-title-heading {
      float: none;
      font-size: 1.5em;
      padding: 0;
      margin-top: 0;
      z-index: 0 !important;
      a:hover {
        text-decoration: underline;
        color: $link-hover-color;
      }
    }
    .index-document-functions {
      text-align: right;
      float: right;
      padding-left: .5em;
      margin-bottom: 10px;
      /* Opacity gets changed to 1 via JS once thumb validity has been checked  */
      /* and thus the position is known.*/
      opacity: 0;
      transition: opacity 500ms linear;
      position: relative;
      z-index: 10; /* must exceed .document-title-heading's z-index */
      clear: right;
    }

  }
}

.blacklight.thumbnail {
  margin-bottom: 5px;
  margin-left: 1em;
  img {
    margin: 0;
    padding: 0;
    border: none !important;
    box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
    max-width: 78px;
  }
}

.index-document-metadata {
  float: none;
  margin-bottom: 0.5em;
  /* Emulate clearfix */
  &:before, &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

.index-document-metadata, #show-sub-header {
  dl {
    margin-left: 0;
    margin-bottom: 5px;
    dd {
      float: none;
      &.blacklight-statement_of_responsibility_a {
        display: block;
        font-weight: bold;
        color: #555;
      }
      /* Make secondary metadata fields display on one line, separated by slashes */
      &.blacklight-imprint_main_a,
      &.blacklight-edition_a,
      &.blacklight-resource_type_a,
      &.blacklight-physical_media_a {
          display: inline;
          &::after {
            content: " / ";
            color: $gray-600 !important;
            margin: 0 0.4em;
          }
          &:last-of-type::after {
            content: "";
            margin: 0;
          }
        }

      &.blacklight-imprint_main_a {
        body.blacklight-catalog-show & {
          display: list-item;
          &::after {
            content: "";
            margin: 0;
          }
        }
      }
    }
  }
}

.location-modal-toggle .fa {
  padding: 0 3px 0 3px;
  font-size: 1.25em;
}

.location-modal-toggle.touch-enabled {
  background-color: $link-hover-color;
  border-radius: 5px;
  padding: 0 8px 4px 3px;
  margin-left: .2em;
  white-space: nowrap;

  &::after {
    content: 'where to find it';
    color: #fff;
    font-size: .75em;
  }

  &:hover {
    text-decoration: none;
  }

  .fa {
    color: #fff;
    font-size: .8em;
  }

}

.barcode-badge {
  background: $limestone;
  color: $cast-iron;
  border: 1px solid darken($limestone, 10%);
  border-color: darken($limestone, 10%) !important;
  padding-top: calc(.2em - 1px);
  padding-bottom: calc(.3em - 1px);
  margin-right: .75em;
}

.barcode-content {
  display: inline;
}

.barcode-wrapper {
  width: 100%;
  margin-top: .5em;
  display: none;
}

.staff-view-toggle-wrapper {
  text-align: right;
  position: absolute;
  bottom: -5px;
  right: 0px;
  font-size: .85em;
}

button.staff-view-toggle {
  border: none;
  background: none;
  &:hover {
    text-decoration: underline;
  }
}

.staff-view-toggle,
.staff-view-toggle:hover,
.staff-view-toggle:focus {
  color: $gray-800;
}


/* hide edit button */
#editSearchLink {
  display: none;
}

.primary-url ul li a {
  display: inline-block !important;
}

.link-title-text {
  padding-left: .5em;
}

div.primary-url {
  width: 100% !important;
}

#documents .document {
  .has-request,
  .has-thumbnail,
  .has-request-and-thumbnail,
  .no-request-nor-thumbnail {
    h3.document-title-heading {
      word-wrap: break-word;
      word-break: break-word;
      overflow-wrap: break-word;
      display: block;
      display: -webkit-box;
      max-height: 3.6em;
      margin: 0 auto;
      margin-bottom: 5px;
      margin-top: 0;
      -webkit-line-clamp: 3;
      -webkit-box-orient: vertical;
      overflow: hidden;
      text-overflow: ellipsis;
      color: $primary-link-color;
    }
  }

  .statement_of_responsibility_a {
    word-wrap: break-word;
    word-break: break-word;
    overflow-wrap: break-word;
    display: block;
    display: -webkit-box;
    max-height: 2.7em;
    -webkit-line-clamp: 2;
    // max-height: 4em;
    // -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

@-moz-document url-prefix() {
  #documents .document {
    .has-request,
    .has-thumbnail,
    .has-request-and-thumbnail,
    .no-request-nor-thumbnail {
      h3.document-title-heading::before {
        background: #fff;
        bottom: 0;
        position: absolute;
        right: 0;
        float: right;
        content: '\2026';
        margin-left: -3rem;
        width: 3rem;
      }

      h3.document-title-heading::after {
        content: '';
        background: #fff;
        position: absolute;
        height: 3.6em;
        width: 100%;
        z-index: 1;
      }
    }
  }
}

#documents .document {
  .has-request,
  .has-thumbnail,
  .has-request-and-thumbnail {
    width: calc(100% - 94px);
  }
}

// Spellcheck
#spell {
  background: #eee;
  margin-top: -3px;
  margin-right: 0;
  padding-left: 20px;
  border-radius: 8px 0 0 0;

  h4 {
    margin: 0;
    padding: 15px 0 15px 0;
  }
  em {
    font-style: normal;
  }
  a {
    font-style: italic;
  }
}

@include media-breakpoint-up(sm) {

  #documents .document {
    .index-document-functions {
      clear: none;
    }
    .has-request-and-thumbnail {
      width: calc(100% - 186px);
    }
  }

  // Spellcheck
  #spell {
    margin-right: -31px;
    border-radius: 0;
  }

  .primary-url ul.multiple-links-institution,
  .primary-url ul.multiple-links {
    display: flex;
    flex-wrap: wrap;
    li {
      flex: 0 calc(50% - 10px);
      text-align: center;
    }
    li:nth-child(odd) {
      margin-right: 5px;
    }
    li:nth-child(even) {
      margin-left: 5px;
    }
  }

}


.flex-columns {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-columns > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.no-results .card .card-body {
  width: 100%;
  h4 { font-weight: bold; }
}

@include media-breakpoint-up(md) {

  .no-results .card .card-body {
    width: calc(1/2*100% - (1 - 1/3)*10px);
    margin-bottom: 2em;
  }

  .no-results .col-md-12 .card .card-body {
    width: 100%;
  }

}

.view_trln_results .btn {
  padding: 1em 2em;
  width: 100%;
}

.items-wrapper .location-narrow-group {
  overflow: hidden;
}

.modal-button-wrapper {
  display: inline-block;
}

#documents .modal-body .primary-url {
  width: 100% !important;
  margin: 0 !important;
}


#enhanced-data .content p {
  font-size: 1em;
  margin-bottom: 1.375em;
  line-height: 1.375em;
}


@include media-breakpoint-only(sm) {
  #show-sidebar-inner .doc-tools,
  #show-sidebar-inner .btn {
    width: 100%;
  }
}

#bookmark-modal .modal-body {
  overflow: visible;
}

#bookmark-modal #copy-to-clipboard {
  border-width: 1px;
}

.blacklight-trln-index {
  #documents .items,
  #document #holdings .items {
    .items-spacer {
      height: 0;
    }
  }
}

body.blacklight-catalog-index,
body.blacklight-trln-index,
body.blacklight-bookmarks-index {

  section.pagination {
    justify-content: center;
  }

  #sortAndPerPage {
    section.pagination {
      justify-content: start;
    }
  }

  #viewAllResultsEnd {
    text-align: center;
    .toggle {
      width: auto;
      display: inline-flex;
    }
  }

  .index-header-and-metadata {
    padding-right: 1em;

    .documentHeader,
    .index-document-metadata {
      display: flex;
      flex: 1 1 100%;
    }
  }

}
