.search-widgets {
  padding-top: 1rem;
  margin-bottom: 0.5rem;

  .catalog_startOverLink i {
    display: none;
  }
}

.pagination-search-widgets {
  padding-top: 1rem;
  border-bottom: 1px solid #eee;
  margin-bottom: 0.5rem;

  .page-links {
    padding: 0;
    border: 0;
  }
}

#document h2 {
  margin-bottom: 0.6em;
}

#title-and-thumbnail {
  .blacklight.thumbnail {
    margin-top: 1.5em;
    margin-left: 0.5em;

    /* Only show this thumb in smallest viewports, others use sidebar */
    @include media-breakpoint-up(md) {
      display: none;
    }
  }
}

.show-document {
  padding-bottom: 30px;
  padding-right: 30px;
  box-shadow: inset -20px 0 20px -20px rgba(0, 0, 0, 0.25);

  @include media-breakpoint-down(sm) {
    border-right: none;
    box-shadow: none;
  }

  .show-tools {
    /* Hide at most widths in favor of sidebar display */
    display: none;

    @include media-breakpoint-down(sm) {
      /* At smallest widths, sidebar is gone; show tools in main content */
      display: block;
      margin-top: 2rem;
    }

    .doc-tools {
      display: inline-block;
      margin-right: 8px;

      a {
        @include dropdown-item;
      }
    }

    form.bookmark-toggle {
      display: inline-block;
      vertical-align: middle;

      .checkbox.toggle-bookmark label {
        &::before {
          width: 36px;
          height: 36px;
        }
      }
    }
  }

  .request-container {
    margin-top: 1rem;
    margin-bottom: 1rem;
    border-bottom: 1px solid #ccc;
    padding-bottom: 0;

    @include media-breakpoint-down(sm) {
      margin-top: 0.5rem;
      margin-bottom: .75rem;
      padding-bottom: 0;

      .btn {
        width: 100%;
        margin-bottom: 0.5rem;
      }

      p {
        margin-bottom: 0.5rem;
        font-size: 0.9em;
        line-height: 1.4;
      }
    }
  }
}

#show-sub-header {
  margin-top: 1.5em;

  li.statement_of_responsibility_a {
    font-weight: bold;
    font-size: 19px;
  }

  /* Make secondary metadata fields display on one line, separated by slashes */
  li.edition_a,
  li.resource_type_a,
  li.physical_media_a {
    display: inline;

    &::after {
      content: " / ";
      color: $light;
      margin: 0 0.4em;
    }

    &:last-of-type::after {
      content: "";
      margin: 0;
    }
  }
}

/* List styles, esp. for styling to columns */

.show-document ul:not(.alert ul) {
  margin-left: 0;
}

/* fix bullets */

.show-document .alert ul:not([class]):not([id]), ul.list-styled {
  padding-left: .25em;
  margin-left: 1.75em;

  & li {
    list-style: disc;
    padding-left: 0;
  }
}



.show-document {

  /* Consider refining these styles in TRLN Argon */
  /* rather than overriding them here. See trln_argon_shared.scss */
  /* Doing this as an override necessitates using !important and */
  /* using &:before, &::before */
  #authors,
  #included-works,
  #subjects {
    ul {
      list-style-type: square;
      color: #767676;
      column-gap: 3em;
      column-fill: balance;
      column-width: auto;
      padding-left: 0;

      li {
        margin-bottom: 6px;
        display: block !important;
        margin-left: 0;
        width: 100%;
        padding-left: 1em;
        break-inside: avoid;
        overflow: hidden;
        overflow-wrap: break-word;

        &:before,
        &::before {
          content: '■';
          margin-left: -1.5em;
          width: 1.5em;
          height: 100%;
          display: inline-block !important;
          margin-right: 0 !important;
          padding-top: 0.3em !important;
          font-size: 0.6em !important;
          float: none !important;
          vertical-align: text-top;
        }
      }
    }
  }

  #authors ul,
  #included-works ul {
    @include media-breakpoint-down(md) {
      column-count: 2;
    }

    @include media-breakpoint-up(lg) {
      column-count: 3;
    }
  }

  #subjects ul {
    @include media-breakpoint-up(md) {
      column-count: 2;
    }
  }

  .harmful-language-statement {
    border-top: 2px solid #eee;
    padding-top: 1.5rem;
    margin-bottom: 0;
  }
}


#other-details,
#related-works {
  dl.dl-invert {
    column-count: 2;
    column-gap: 3em;

    @include media-breakpoint-down(md) {
      column-count: auto;
    }

    &>div {
      -webkit-column-break-inside: avoid;
      page-break-inside: avoid;
      break-inside: avoid;
      margin-bottom: 1.2em;
    }

    dt {
      padding: 0;
      margin: 0;
      font-weight: bold;

      &:not(:first-child) {
        margin-top: 15px;
      }
    }

    dd {
      padding: 0;
      margin: 0;

      & .blacklight-secondary_urls {
        word-wrap: break-word;
      }

      /* Make line-breaks in any of the note or description   */
      /* fields taller to look more like separated paragraphs */
      &[class*="note"],
      &[class*="description"] {
        br {
          line-height: 2.25em;
        }
      }

      ul {
        padding-left: 0;
      }
    }
  }
}

.dul-bookplate {
  border: 2px solid $dandelion;
  background-color: tint($dandelion, 60%);
  margin: 5px 5px 5px 0;
  padding: 10px;
  display: block;
  font-weight: bold;
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}