#show-sidebar {
  padding-top: 20px;
  padding-left: 30px;
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

#show-sidebar-inner {
  position: sticky;
  top: 0;
  .blacklight.thumbnail {
    border-radius: none;
    float: none;
    display: block;
    margin-left: 0;
    img {
      width: 100%;
      max-width: 100%;
      border-radius: none;
      -webkit-transition: -webkit-transform 0.4s;
      transition: transform 0.4s;
    }
  }
  .btn {
    display: block;
    margin-bottom: 5px;
  }

  a.sidebar-top-link {
    display: none;
  }
  a.sidebar-thumb-link {
    cursor: default;
  }

  .doc-tools {
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
    a {
      @include dropdown-item
    }
  }

  form.bookmark-toggle {
    display: inline-block;
    vertical-align: middle;
    // see bookmarks.scss
    .checkbox.toggle-bookmark {
      label {
        &::before {
          width: 34px;
          height: 34px;
        }
      }
    }
  }

  ul.sidebar-menu {
    margin-left: 0;
    padding-left: 0;
    list-style-type: none;
    li {
      margin: 0;
      background: none;
      a {
        color: $gray-600;
        font-weight: bold;
        padding: 2px 0;
        background: none !important;
        &.active {
          color: $brand-success;
        }
        &:hover {
          color: $link-hover-color;
          background: none;
          text-decoration: underline;
        }
        &:active, &:focus {
          text-decoration: none;
        }
      }
    }
  }

  /* Styles when sticky sidebar content is stuck -- see dul-argon-skin.js  */

  &.sticky-stuck {
    a.sidebar-top-link {
      display: flex;
      &:hover, &:active, &:focus {
        text-decoration: none;
      }
      &:before, &:after {
        content:'';
        flex: 1;
        border-bottom: 2px solid $primary-link-color;
        margin: auto;
      }
      &:hover:before, &:hover:after {
        border-color: $link-hover-color;
      }
      div {
        background: white; padding: 10px
      }
    }

    a.sidebar-thumb-link {
      cursor: pointer;
    }

    .blacklight.thumbnail {
      max-width: 60px;
      margin: 0 auto 10px auto;
    }

  }
}
