/* ======================================= */
/* Styles specifically for the Style Guide */
/* ======================================= */

<%# Specify all color names in an array, for use as both a class %>
<%# (.primary-color) and a Sass variable ($primary-color) %>

<% colors = %w[duke-navy-blue duke-royal-blue copper persimmon dandelion\
   piedmont eno magnolia prussian-blue shale-blue ironweed hatteras\
   whisper-gray ginger-beer dogwood shackleford cast-iron graphite\
   granite limestone\
   primary-color secondary-color tertiary-color available-color\
   not-available-color alt-available-color misc-available-color\
   trln-purple trln-magenta trln-orange trln-teal\
   dul-masthead-blue dul-dulcet-lightblue dul-dulcet-green dul-dulcet-orange dul-dulcet-red\
   gray-900 gray-800 gray-700 gray-600 gray-500 gray-400\
   gray-300 gray-200 gray-100 facet-grey\
   brand-primary brand-success brand-danger brand-warning brand-info\
   primary-link-color secondary-link-color link-hover-color\
   ] %>

.color-swatch {
  text-align: center;
  margin-bottom: 10px;
  .color-block {
    color: black;
    padding: 80px 0 10px 0;
    width: auto;
  }

  <% colors.each do |c| %>
    &.<%= c %> .color-block {
      background: $<%= c %>;
    }
  <% end %>

  <%# Renders this Sass for each color:     %>
  <%# =================================     %>
  <%#   &.dul-dulcet-green .color-block {   %>
  <%#     background: $dul-dulcet-green;    %>
  <%#   }                                   %>

  <%# Tint & Shade Examples %>
  <% mix_pcts = %w[0 10 20 30 40 50 60 70 80 90 100] %>

  <% mix_pcts.each do |pct| %>
    &.dul-masthead-blue.tint-<%= pct %> .color-block {
      background-color: tint($dul-masthead-blue, <%= pct %>%);
    }
    &.dul-masthead-blue.shade-<%= pct %> .color-block {
      background-color: shade($dul-masthead-blue, <%= pct %>%);
    }
  <% end %>


}

.contrast-score {
  display: inline-block;
  border-radius: 3px;
  padding: 5px;
  border: 1px solid #666;
  font-size: 11px;
  margin-top: 6px;
  margin-right: 4px;
  min-width: 2.5em;
  &.contrast-score-black {
    background: #555;
    color: white;
  }
  &.contrast-score-fail {
    border-bottom: 4px solid $dul-dulcet-red;
  }
  &.contrast-score-warn {
    border-bottom: 4px solid $dul-dulcet-orange;
  }
  &.contrast-score-pass {
    border-bottom: 4px solid $dul-dulcet-green;
  }
}

#styleguide-nav {
  position: relative;
  min-height: 50px;
  margin-bottom: 20px;
  border: 1px solid $gray-200;
  @media (min-width: 768px) {
    border-radius: 4px;
  }
  a {
    color: $gray-700;
  }
}
