/* ========================================== */
/* DUL Grid Layout. Note BS4 defaults for:    */
/* $grid-breakpoints & $container-max-widths  */
/* Our intent is to cap at 30px less than the */
/* next breakpoint and set the xl max at an   */
/* optimal width for most user screen         */
/* resolutions.                               */
/* ========================================== */
/* See https://github.com/twbs/bootstrap-rubygem/blob/v4.6.1/assets/stylesheets/bootstrap/_variables.scss#L211-L216 */

$container-max-widths: (
  sm: 738px,
  md: 962px,
  lg: 1170px,
  xl: 1360px
);

/* ================================= */
/* Duke Branding Guide colors        */
/* https://brand.duke.edu/colors/    */
/* ================================= */
$duke-navy-blue: #012169;
$duke-royal-blue: #00539b;
$copper: #c84e00;
$persimmon: #e89923;
$dandelion: #ffd960;
$piedmont: #a1b70d;
$eno: #339898;
$magnolia: #1d6363;
$prussian-blue: #005587;
$shale-blue: #0577b1;
$ironweed: #993399;
$hatteras: #e2e6ed;
$whisper-gray: #f3f2f1;
$ginger-beer: #fcf7e5;
$dogwood: #988675;
$shackleford: #dad0c6;
$cast-iron: #262626;
$graphite: #666666;
$granite: #b5b5b5;
$limestone: #e5e5e5;

/* ================================= */
/* DUL website colors (dulcet theme) */
/* ================================= */
$dul-masthead-blue: #053482;
$dul-dulcet-lightblue: #235f9c;
$dul-dulcet-green: #a1b70d;
$dul-dulcet-orange: #f09905;
$dul-dulcet-red: #cc3300;

/* ========================================== */
/* TRLN colors from branding guide:           */
/* https://www.trln.org/about/trln-branding/  */
/* ========================================== */
$trln-purple: #490e6f;
$trln-magenta: #c21dac;
$trln-orange: #ff6d22;
$trln-teal: #1e9d8b;

/* ======================== */
/* Unique to DUL Argon Skin */
/* ======================== */
$dul-argon-green: #00830e;

/* ============================= */
/* TRLN Argon Variables Override */
/* ============================= */
@import 'trln_argon_variables';

$link-hover-color: tint($primary-link-color, 20%);

/* ======================================== */
/* Bootstrap Variables Override             */
/* Map to our local color palette as much   */
/* as possible.                             */
/* ======================================== */
$brand-primary: $primary-color;
$brand-success: $dul-argon-green;
$brand-danger: $dul-dulcet-red;
$brand-warning: $dul-dulcet-orange;
$brand-info: $primary-link-color;
