<% unless etas_argon_url_hash.fetch(:href, nil).blank? %>
  <div class="col-lg-12 primary-url">
    <ul>
      <li><%= link_to_fulltext_url(etas_argon_url_hash) %></li>
    </ul>
    <div class="etas-note-wrapper">
      <dl class="dl-horizontal">
        <dt>
          <span class="url-note-badge badge badge-info">
            <%= I18n.t('trln_argon.links.hathitrust_badge') %>
          </span>
        </dt>
        <dd>
          <span class="url-note">
            <%= I18n.t('trln_argon.links.hathitrust_etas_note') %>
          </span>
        </dd>
      </dl>
    </div>
  </div>
  <div class="<%= items_spacer_class %>"></div>
<% end %>
