<% unless hathitrust_argon_url_hash.fetch(:href, nil).blank? %>
  <div class="<%= primary_link_class %>">
    <ul>
      <li><%= link_to_open_access(hathitrust_argon_url_hash) %></li>
    </ul>

    <% if Setting.etas_enabled? %>

      <div class="etas-note-wrapper">
        <dl class="dl-horizontal">
          <dt>
            <span class="url-note-badge badge badge-info">
              <%= I18n.t('trln_argon.links.hathitrust_badge') %>
            </span>
          </dt>
          <dd>
            <span class="url-note">
              <%= I18n.t('trln_argon.links.hathitrust_oa_note') %>
            </span>
          </dd>
        </dl>
      </div>

    <% end %>

  </div>
  <div class="<%= items_spacer_class %>"></div>
<% end %>
