<%# Custom partial for DUL Argon Skin %>

<div role="region" aria-label="<%= t("ask_modal.ask_button_tooltip") %>">

  <!-- Button trigger modal -->
  <button id="ask-modal-button" data-toggle="modal" data-target="#ask-modal" tabindex="0">
    <h2 class="sr-only"><%= t("ask_modal.launch_chat") %></h2>
    <span class="btn btn-primary btn-lg" data-toggle="tooltip" title="<%= t("ask_modal.ask_button_tooltip") %>"><%= t("ask_modal.ask_button_html") %></span>
  </button>

  <!-- Modal -->
  <div class="modal fade" id="ask-modal" tabindex="-1" aria-labelledby="modal-label" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modal-label"><%= t("ask_modal.modal_title_html") %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">

          <div style="display: none;" class="needs-js"><%= t("ask_modal.chat_requires") %></div>

          <div class="libraryh3lp" jid="dukeref@chat.libraryh3lp.com">
            <iframe id="library-help-iframe" width="100%" height="240" style="width: 100%; min-height: 200px;" scrolling="no" src="//libraryh3lp.com/chat/dukeref@chat.libraryh3lp.com?skin=21014&amp;theme=simpletext&amp;identity=DukeRef" frameborder="0"></iframe>
          </div>

          <div class="libraryh3lp" style="display: none; margin-top: 20px; margin-bottom: 10px;">
            <%= t("ask_modal.ask_description_html") %>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= t("ask_modal.close_modal") %></button>
        </div>
      </div>
    </div>
  </div>
</div>