<% if document.fulltext_urls.any? || document.shared_fulltext_urls.any? || document.open_access_urls.any? %>

  <% if document.fulltext_urls.any? %>

    <% if document.fulltext_urls.count > 1 %>

      <div class="col-md-7 primary-url">
        <div class="modal-button-wrapper" data-toggle="modal" data-target="#modal_<%= document.id %>">
          <button type="button" class="link-type-fulltext" data-toggle="tooltip" data-original-title="<%= t('trln_argon.links.online_access_all') %>">
            <i class="fa fa-external-link" aria-hidden="true"></i> <%= t('trln_argon.links.online_access') %>
          </button>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade fulltext-links-modal" id="modal_<%= document.id %>" tabindex="-1" role="dialog" aria-labelledby="modal_<%= document.id %>_label">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="modal_<%= document.id %>_label"><%= t('trln_argon.links.online_access_all') %></h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

              <div class="col-lg-12 primary-url">
                <ul class="multiple-links">
                <% document.fulltext_urls.each do |url| %>
                  <li><%= link_to_fulltext_url(url, link_type: 'multiple') %></li>
                <% end %>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>

    <% else %>

      <div class="<%= primary_link_class %>">
        <ul class="single-link">
          <li><%= link_to_fulltext_url(document.fulltext_urls.first) %></li>
        </ul>
      </div>

    <% end %>


  <% elsif document.shared_fulltext_urls.any? %>

    <% if document.shared_fulltext_urls.count > 1 %>

      <div class="col-md-7 primary-url">
        <div class="modal-button-wrapper" data-toggle="modal" data-target="#modal_<%= document.id %>">
          <button type="button" class="link-type-fulltext" data-toggle="tooltip" data-original-title="<%= t('trln_argon.links.online_access_all') %>">
            <i class="fa fa-external-link" aria-hidden="true"></i> <%= t('trln_argon.links.online_access') %>
          </button>
        </div>
      </div>

      <!-- Modal -->
      <div class="modal fade" id="modal_<%= document.id %>" tabindex="-1" role="dialog" aria-labelledby="modal_<%= document.id %>_label">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="modal_<%= document.id %>_label"><%= t('trln_argon.links.online_access_all') %></h4>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            </div>
            <div class="modal-body">

              <div class="col-lg-12 primary-url">
                <ul class="multiple-links">
                <% document.shared_fulltext_urls.each do |url| %>
                  <li><%= link_to_fulltext_url(url, link_type: 'multiple') %></li>
                <% end %>
                </ul>
              </div>

            </div>
          </div>
        </div>
      </div>

    <% else %>

      <div class="primary-url <%= primary_link_class %>">
        <ul class="single-link">
          <li><%= link_to_fulltext_url(document.shared_fulltext_urls.first) %></li>
        </ul>
      </div>

    <% end %>
  <% end %>
  <%= render partial: 'open_access_links', locals: { document: document } %>
<% else %>
  <%= render partial: 'hathitrust_link', locals: { document: document } %>
  <% if Setting.etas_enabled? %>
    <%= render partial: 'etas_link', locals: { document: document } %>
  <% end %>
  <%= render partial: 'internet_archive_link', locals: { document: document } %>
<% end %>
