<div class="page-header">
  <h1 class="main-title"><%= t('blacklight.home.welcome') %></h1>
  <p class="tagline"><%= t('blacklight.home.blurb') %></p>
</div>

<%# TEMPORARY CUSTOMIZATION -- ALMA INTEGRATION %>
<% if DulArgonSkin.alma_integration_alert.present? %>
  <%= render partial: 'shared/alma_general_notice' %>
<% end %>

<%= render 'harmful_language_statement' %>

<%= render 'home_new_additions',
  type: 'duke_authors',
  fetchresults: '10',
  query: 'f%5Blocation_hierarchy_f%5D%5B%5D=duke%3Adukeperk%3Adukeperkdurs' %>
<hr/>

<%= render 'home_new_additions',
  type: 'new_noteworthy',
  fetchresults: '10',
  query: 'f%5Blocation_hierarchy_f%5D%5B%5D=duke%3Adukeperk%3Adukeperknehy' %>
<hr/>

<%= render 'home_new_additions',
  type: 'dvds',
  fetchresults: '20',
  query: 'f%5Bphysical_media_f%5D%5B%5D=DVD&amp;f%5Bresource_type_f%5D%5B%5D=Video' %>

<hr/>
<h2><%= t('blacklight.help.home_header') %></h2>
<ul class="underlined-links home-welcome-links">
  <li><%= t('blacklight.help.search_tips_html', search_tips_url: DulArgonSkin.search_tips_url) %></li>
  <li>
    <%= link_to t('blacklight.help.ask_a_librarian'), \
            TrlnArgon::Engine.configuration.contact_url, target: "_blank" %>
            <%= t('blacklight.help.for_more_help') %>
  </li>
</ul>

<hr/>
<h2>Other Resources</h2>

<ul class="list-inline home-other-resources">
  <li class="list-inline-item">
    <a href="https://library.duke.edu/find/articles" target="_blank"
      title="From journals, newspapers &amp; magazines">Articles</a>
  </li>
  <li class="list-inline-item">
    <a href="https://library.duke.edu/find/journal-titles" target="_blank"
      title="Find by title">Online Journal Titles</a>
  </li>
  <li class="list-inline-item">
    <a href="https://guides.library.duke.edu/az/databases" target="_blank"
      title="Find by title &amp; subject">Research Databases</a>
  </li>
  <li class="list-inline-item">
    <a href="https://repository.duke.edu/dc" target="_blank"
      title="Photographs, advertisements, texts &amp; more">Digitized Collections</a>
  </li>
  <li class="list-inline-item">
    <a href='http://proxy.lib.duke.edu/login?url=http://firstsearch.oclc.org/fsip?dbname=worldcat&amp;screen=advanced' target='_blank'
    title="Search holdings from libraries worldwide">WorldCat</a>
  </li>
  <li class="list-inline-item">
    <a href="https://library.duke.edu/find" target="_blank">More search options</a>
  </li>
</ul>
