<%# Overrides existing Blacklight partial in order to separate  %>
<%# .index-document-functions (like bookmarks, request)         %>
<%# into their own partial that can be positioned elsewhere.    %>
<%# See views/catalog/_index_document_actions_default.html.erb  %>
<%#                                                             %>
<%# adding wrapper and including contents of:                   %>
<%# /app/views/catalog/_index.html.erb from TRLN                %>


<div class="index-header-and-metadata">

  <div class="documentHeader">
    <h3 class="index_title document-title-heading" id="<%= document.id %>-<%= document_counter %>-doctitleheader">
      <% if counter = document_counter_with_offset(document_counter) %>
        <span class="document-counter">
          <%= t('blacklight.search.documents.counter', counter: counter) %>
        </span>
      <% end %>
      <%= link_to_document document, document_show_link_field(document), counter: counter %>
    </h3>
  </div>

  <%# via TRLN argon: /app/views/catalog/_index.html.erb %>
  <div class="index-document-metadata">
    <%= render(TrlnArgon::DocumentHeaderMetadataComponent.new(fields: index_presenter(document).field_presenters)) %>
  </div>

</div>
