<div class="col flex-grow-1">
  <%= content_tag(loc_b_header_level) do %>
    <% # --- display broad location --- %>
    <% if loc_b.present? %>
      <% broad_location_display = map_argon_code(document.record_owner, 'loc_b', loc_b) %>
      <span class='location loc-broad loc_b__<%= loc_b %>'>
        <%= broad_location_display %>
      </span>
    <% end %>

    <% # --- display narrow location --- %>
    <% if loc_n.present? %>
      <% narrow_loc = map_argon_code(document.record_owner, 'loc_n', loc_n) %>
      <% if narrow_loc.nil? %>
        <% narrow_loc = loc_n %>
      <% end %>
      <% # is loc_n different and not empty? %>
      <% if narrow_loc != broad_location_display && narrow_loc != '' %>
        <span class='location loc-narrow loc_n__<%= loc_n %>'> &mdash; <%= narrow_loc %></span>
      <% end %>
    <% end %>

    <%# DUL CUSTOMIZATION: add location icon/link here in the location header -%>
    <%= render 'location_link_header', { document: document, loc_b: loc_b, loc_n: loc_n, item_data: item_data } %>

  <% end %>
</div>

<%# If present, holdings availability status for a *location* will display aligned with and   %>
<%# styled like item availability. If not, the location will use the entire width of the row. %>

<%# DUL CUSTOMIZATION: Show holdings availability on search results pages and non-RL records. -%>
<%# We need to at least add a blank placeholder for Duke records given how "temp" locations   -%>
<%# are not represented in the holdings data; we have a hack to find temp location status via -%>
<%# JS lookup. -%>
<% if document.record_owner == 'duke' && (!document.rubenstein_record? || search_results_page?) %>
  <% available_class = item_availability_display(location_holdings) %>
  <%# DUL CUSTOMIZATION: add data-doc-id, temploc, & holding id for circstatus API lookup -%>
  <% first_item = item_data['items'].first %>
  <div data-doc-id="<%= document.id.gsub(/[a-zA-Z]/, '') %>" class="<%= status_wrapper_class(action: action_name) %> status-wrapper <%= temploc_attribute(first_item) %>" <%= assign_holding_id_as_id(location_holdings) %>>
    <dl>
      <dt>
        <%# DUL CUSTOMIZATION: holding-status-badge class as a hook for circstatus API lookup %>
        <span class='holding-status-badge status-badge badge badge-info'><%= t('trln_argon.show.badge.status') %></span>
      </dt>
      <dd>
        <span class="<%= available_class %>">
          <%= render 'items_section_location_status', { document: document,
                                                        loc_b: loc_b,
                                                        loc_n: loc_n,
                                                        location_holdings: location_holdings } %>
        </span>
      </dd>
    </dl>
  </div>
<% end %>
