<% if add_spacer_above_items_section?(document: document) %>
  <div class="<%= items_spacer_class %>"></div>
<% end %>

<div class="<%= items_wrapper_class %>">

  <div class="row">

        <% document.holdings.each_with_index do |(loc_b, loc_narrow_map), document_index| %>

          <% loc_narrow_map.each do |loc_n, item_data|  %>

            <% next if suppress_item?(loc_b: loc_b, loc_n: loc_n, item_data: item_data) %>

            <div class="<%= location_header_class %>">
                <%= render partial: "items_section_location",
                       locals: { document: document,
                                   loc_b: loc_b,
                                   loc_n: loc_n,
                                   loc_b_header_level: loc_b_header_level,
                                   # DUL CUSTOMIZATION: pass item_data here...
                                   # TODO: refactor at TRLN Argon level for simplicity
                                   item_data: item_data,
                                   location_holdings: item_data['holdings']&.first } %>
            </div>

            <% # --- HOLDINGS SUMMARIES WRAPPER --- %>

            <% if display_holdings_summaries?(item_data) %>

              <%= render partial: "items_section_summary",
                         locals: { document: document,
                                   loc_b: loc_b,
                                   loc_n: loc_n,
                                   item_data: item_data } %>

            <% end %>

            <% # ---ITEMS WRAPPER --- %>

              <div class="item-group-display col-lg-12 <%= display_holdings_summaries?(item_data) ? 'has-summary' : '' %>" id="<%= document.id %>-<%= loc_n %>-<%= document_index %>-preview">

                <% item_data['items'].first(num_display_items).each do |item| %>

                  <div class="row no-gutters item <%= loc_n %> <%= loc_b %>" data-item-barcode="<%= get_item_id(item) %>">

                    <%= render partial: "items_section_item", locals: { document: document, item: item, loc_b: loc_b, loc_n: loc_n } %>

                  </div>

                <% end %>

              </div>

              <% if item_data['items'].size > num_display_items %>

                <div class='item-group-display col-lg-12 collapse' id="item-container-<%=document.id %>-<%= loc_n %>-<%= document_index %>">

                  <% item_data['items'].each_with_index do |item, i| %>

                    <% next if i < num_display_items %>

                    <div class="row no-gutters item <%= loc_n %> <%= loc_b %>" data-item-barcode="<%= get_item_id(item) %>">

                      <%= render partial: "items_section_item", locals: { document: document, item: item, loc_b: loc_b, loc_n: loc_n } %>

                    </div>

                  <% end %>

                </div>

                <div class="col-lg-12">
                  <div class="items-toggle">

                    <a href="javascript:void(0);" class="expander btn btn-sm btn-info shower" data-toggle='collapse' data-target='<%= "#item-container-#{document.id}-#{loc_n}-#{document_index}" %>' aria-expanded='false' aria-controls='<%= "item-container-#{document.id}-#{loc_n}-#{document_index}" %>'>
                      <%= t('trln_argon.show.controls.show') %> <%= t('trln_argon.show.controls.all') %> <%= item_data['items'].length %> <%= t('trln_argon.show.controls.items') %> <i class="fa fa-plus-circle" aria-hidden="true"></i>
                    </a>

                    <a href="#<%= document.id %>-<%= loc_n %>-<%= document_index %>-preview" class="expander btn btn-sm btn-info hider" data-toggle='collapse' data-target='<%= "#item-container-#{document.id}-#{loc_n}-#{document_index}" %>' aria-expanded='false' aria-controls='<%= "item-container-#{document.id}-#{loc_n}-#{document_index}" %>'>
                      <%= t('trln_argon.show.controls.hide') %> <%= t('trln_argon.show.controls.items') %> <i class="fa fa-minus-circle" aria-hidden="true"></i>
                    </a>

                  </div>
                </div>

              <% end %>

          <% # -- END items wrapper -- %>

      <% end %>

    <% end %>
    <%= render partial: "items_section_extra", locals: { document: document } %>
  </div>

</div>
