<% title = document[TrlnArgon::Fields::TITLE_MAIN] %>
<%# The call number is now located at the holdings level... -%>
<% call_no = item_data&.dig('holdings', 0, 'call_no') %>

<% if (loc_b != 'ONLINE' && document.record_association == "duke" ) %>
  <span class="map-info">
    <%= link_to t('trln_argon.map_location.icon_html'),
                map_location_path(loc_n: loc_n,
                                  loc_b: loc_b,
                                  title: title,
                                  call_no: call_no),
                aria: { label: 'where to find it' },
                data: { blacklight_modal: 'trigger' },
                class: 'location-modal-toggle'
    %>
  </span>
<% end %>
