<% if document.open_access_urls.any? %>

  <% if document.open_access_urls.count > 1 %>

    <div class="col-md-7 primary-url">
      <div class="modal-button-wrapper" data-toggle="modal" data-target="#modal_<%= document.id %>_oa">
        <button type="button" class="link-type-fulltext" data-toggle="tooltip" data-original-title="<%= t('trln_argon.links.open_access_all') %>">
          <i class="fa fa-external-link" aria-hidden="true"></i> <%= t('trln_argon.links.open_access') %>
        </button>
      </div>
    </div>

    <!-- Modal -->
    <div class="modal fade" id="modal_<%= document.id %>_oa" tabindex="-1" role="dialog" aria-labelledby="modal_<%= document.id %>_oa_label">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="modal_<%= document.id %>_oa_label"><%= t('trln_argon.links.open_access_all') %></h4>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          </div>
          <div class="modal-body">

            <div class="col-lg-12 primary-url">
              <ul class="multiple-links">
                <% document.open_access_urls.each do |urls| %>
                  <% next unless urls.present? %>
                    <li>
                      <%= link_to_open_access(urls, link_type: 'multiple') %>
                      <%= render partial: "url_note", locals: { url_hash: urls } %>
                    </li>
                <% end %>
              </ul>
            </div>

          </div>
        </div>
      </div>
    </div>

  <% else %>

    <div class="<%= primary_link_class %>">
      <ul class="single-link">
        <% document.open_access_urls.each do |urls| %>
          <% next unless urls.present? %>
            <li>
              <%= link_to_open_access(urls) %>
              <%= render partial: "url_note", locals: { url_hash: urls } %>
            </li>
        <% end %>
      </ul>
    </div>

  <% end %>

<% end %>
