<% if show_request_digitization_link?(document) %>
  <%= link_to I18n.t('trln_argon.show.request_digitization'), request_digitization_url(document),
    class: "btn btn-secondary report-digitization", target: "_blank" %>
<% end %>

