<% if document.lsc_record? %>
  <p class="mx-1 my-2">
    <%= t('trln_argon.lsc_record.visitors_text',
           visitors_link: link_to(t('trln_argon.lsc_record.visitors_link_text'), 'https://library.duke.edu/services/visitors', target: '_blank'),
           guest_request_link: link_to("<strong>#{t('trln_argon.lsc_record.guest_request_form')}</strong>".html_safe, 'https://library.duke.edu/services/forms/lsc-request', target: '_blank')).html_safe %>
  </p>
<% end %>
