<%# Overrides TRLN Argon template, which overrides BL template %>
<%= render 'did_you_mean' %>

<%= render 'constraints' %>

<%= render 'sort_and_per_page' %>

<%# TEMPORARY CUSTOMIZATION -- ALMA INTEGRATION %>
<% if DulArgonSkin.alma_integration_alert.present? %>
  <%= render partial: 'shared/alma_general_notice' %>
<% end %>
