<%# Custom DUL Argon Skin partial. %>

<%# Use ViewComponents from trln_argon/app/components. %>
<%# TODO: this seems a little more clunky than the previously-used helper %>
<%# methods, e.g., display_authors? %>

<% authors_component = TrlnArgon::DocumentMetadataListComponent.new(
     fields: show_authors_presenter(document).field_presenters,
     show: true) %>
<% included_works = TrlnArgon::DocumentMetadataListComponent.new(
          fields: show_included_works_presenter(document).field_presenters,
          show: true) %>
<% subjects_components = TrlnArgon::DocumentMetadataListComponent.new(
     fields: show_subjects_presenter(document).field_presenters,
     show: true ) %>
<% related_works_component = TrlnArgon::DocumentMetadataComponent.new(
     fields: show_related_works_presenter(document).field_presenters,
     show: true ) %>

<ul class="sidebar-menu nav flex-column pb-4" id="show-sidebar-menu">
      <li class="nav-item">
        <a class="nav-link" href="#holdings"><%= t('trln_argon.show.heading.holdings') %></a>
      </li>
    <% if authors_component.render? %>
      <li class="nav-item">
        <a class="nav-link" href="#authors"><%= t('trln_argon.show.heading.authors') %></a>
      </li>
    <% end %>
    <% if display_summary?(document: @document) %>
      <li class="nav-item">
        <a class="nav-link" href="#summary"><%= t('trln_argon.show.heading.summary') %></a></li>
    <% end %>
    <% if display_toc?(document: @document) %>
      <li class="nav-item">
        <a class="nav-link" href="#contents"><%= t('trln_argon.show.heading.contents') %></a>
      </li>
    <% end %>
    <% if display_sample_chapter?(document: @document) %>
      <li class="nav-item">
        <a class="nav-link" href="#sample-chapter"><%= t('trln_argon.show.heading.sample_chapter') %></a>
      </li>
    <% end %>
    <% if included_works.render? %>
      <li class="nav-item">
        <a class="nav-link" href="#included-works"><%= t('trln_argon.show.heading.included_works') %></a>
      </li>
    <% end %>
    <% if subjects_components.render? %>
      <li class="nav-item">
        <a class="nav-link" href="#subjects"><%= t('trln_argon.show.heading.subjects') %></a>
      </li>
    <% end %>
      <li class="nav-item">
        <a class="nav-link" href="#other-details">Other details</a>
      </li>
    <% if related_works_component.render? %>
      <li class="nav-item">
        <a class="nav-link" href="#related-works"><%= t('trln_argon.show.heading.related_works') %></a>
      </li>
    <% end %>
</ul>
