<%# Item show page section that displays the harmful language statement  %>
<%# Note this *_default.html.erb file is needed to allow this partial    %>
<%# to be referenced in config.show.partials (see catalog_controller.rb) %>

<%= render partial: 'harmful_language_statement' %>
