<%# NOTE: overrides TRLN Argon partial in order to add request button, then %>
<%# render the rest of these links as a dropdown menu instead of a button set. %>
<%# Updated 8/22/24 to include text and link for LSC Guest Request form. %>

<div class="request-container">
  <%= render partial: 'request_button', locals: { document: @document } %>
  <%= render partial: 'request_lsc_guest', locals: { document: @document } %>
</div>
<%= render partial: 'request_digitization', locals: { document: @document } %>

<% if show_doc_actions? %>
<div class="dropdown doc-tools">
  <button type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <%= t('trln_argon.tools.btn_label') %> <span class="caret"></span>
  </button>
  <div class="dropdown-menu" aria-label="<%= t('trln_argon.tools.btn_label') %>">
    <%= render_show_doc_actions @document do |config, inner| %>
      <%= inner %>
    <% end %>
  </div>
</div>
<% end %>

<%= render partial: 'bookmark_control', locals: { document: @document } %>
