<%# Override Blacklight partial to add info text re: text message character limit%>

<%= form_tag url_for(controller: controller_name, action: "sms"),
             data: { blacklight_modal: 'trigger' },
             id: 'sms_form',
             class: "modal_form",
             method: :post do %>
<div class="modal-body">
  <%= render '/shared/flash_msg' %>
    <div class="form-group row">
      <label class="control-label col-sm-2" for="to">
        <%= t('blacklight.sms.form.to') %>
      </label>
      <div class="col-sm-10">
        <%= telephone_field_tag :to, params[:to], class: 'form-control', required: true %>
      </div>
    </div>
    <div class="form-group row">
      <label class="control-label col-sm-2" for="carrier">
        <%= t('blacklight.sms.form.carrier') %>
      </label>
      <div class="col-sm-10">
          <%= select_tag(:carrier, options_for_select(sms_mappings.to_a.sort.unshift([t('blacklight.sms.form.carrier_prompt'),'']), params[:carrier]), class: 'form-control') %><br/>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <p class="modal-info"><%= t('blacklight.sms.form.text_limit') %></p>
      </div>
    </div>
    <% @documents&.each do |doc| %>
       <%=hidden_field_tag "id[]", doc.id %>
    <% end %>
</div>
<div class="modal-footer">
<button type="submit" class="btn btn-primary"> <%= t('blacklight.sms.form.submit') %></button>
</div>
  <% end %>