<%= render partial: 'no_results_message' %>

<p class="lead"><%= t('trln_argon.search.zero_results.suggestion') %></p>

<div class="col-md-12 row">

  <div class="flex-columns no-results">

    <% if filtered_results_total > 0 %>
      <div class="col-md-6 card card-body">

        <h2 class="h5 font-weight-bold"><%= t("trln_argon.search.zero_results.expand_search", count: filtered_results_total) %></h2>

        <div class="view_trln_results"><%= link_to(t("trln_argon.search.zero_results.view_trln_results_html"), no_results_escape_href_url, class: 'btn btn-lg btn-primary') %></div>
      </div>
    <% end %>

    <% if filtered_results_total > 0 %>
      <div class="col-md-6 card card-body">
    <% else %>
      <div class="col-md-12 card card-body bg-light">
    <% end %>

      <h2 class="h5 font-weight-bold"><%= t('trln_argon.show.help.title') %></h2>

      <ul>
        <li><%= link_to(t('blacklight.help.ask_a_librarian'), TrlnArgon::Engine.configuration.contact_url) %></li>
        <li><%= t("blacklight.help.search_tips_html", search_tips_url: DulArgonSkin.search_tips_url) %></li>
        <li><%= t("blacklight.help.worldcat_link_html") %></li>
        <li><%= t('trln_argon.show.help.request_link_html') %></li>
        <li><a href="https://library.duke.edu/find/articles" target="_blank"><%= t('trln_argon.show.help.search_for_articles') %></a></li>
        <li><a href="https://duke.qualtrics.com/jfe/form/SV_6xv4e8t3qPsTTEO" target="_blank"><%= t('trln_argon.show.help.suggest_a_purchase') %></a></li>
      </ul>

    </div>

  </div>

</div>
