<%# Overrides TRLN Argon template, which overrides BL template %>

<div id="content" class="<%= show_class %>">
  <%# DUKE CUSTOMIZATION: don't render the start over/back to search links  %>
  <%# if the search context was JSON-via-AJAX, e.g., homepage new additions %>
  <% if current_search_session &&
        search_session['document_id'] == @document.id &&
        !search_session_includes_ajax_request?(current_search_session) %>
    <div class="float-right search-widgets pt-3">
      <%= render(TrlnArgon::StartOverButtonComponent.new(classes: 'catalog_startOverLink btn btn-link p-0 mr-2')) %>
      <%= link_back_to_catalog class: 'btn btn-link p-0' %>
    </div>
  <% end %>

  <%# TEMPORARY CUSTOMIZATION -- ALMA INTEGRATION %>
  <% if DulArgonSkin.alma_integration_alert.present? %>
    <%= render partial: 'shared/alma_general_notice' %>
  <% end %>

  <%= render 'show_main_content' %>
</div>

<%# Uses show-sidebar instead of sidebar so as not to conflict with styles for facets in index view %>
<div id="show-sidebar" class="col-md-3" role="complementary" aria-label="Item sidebar">
   <%= render_document_sidebar_partial %>
</div>
