<%#
Configure which elements and interactions generate Matomo Event data using
the @selectors hash.  Each element selector is a top-level hash key, so
must be unique. Selectors can be combined (comma-separated).

OPTIONS FOR CUSTOMIZING THE DATA SENT FOR EACH ELEMENT MATCHED BY SELECTOR
==========================================================================
(Order doesn't matter)

1. event
2. link
3. category
4. action
5. name
6. document_listener
7. intercept

////////////////////

1. event
--------
Which event on the element has to happen to send Matomo Event Track data?
default: 'click contextmenu'
This catches both left ('click') & right ('contextmenu') clicks.
Other possibilities: 'submit', 'focus', etc. Also can use custom events, e.g.,
'foo' will catch $('#element').trigger('foo')... this technique
is used for A/V player events in DDR.

2. link
-------
Which DOM element provides context for the event? (especially for default values)
default: $(this) -- whatever element was specified by the selector

3. category
-----------
The Category value to submit to Matomo Event Tracking. (Is size limited by Matomo?)
default: result of defaultCategory(link)

4. action
----------
The Action value to submit to Matomo Event Tracking. (Is size limited by Matomo?)
default: result of defaultAction(link)

5. Name
--------
The Name value to submit to Matomo Event Tracking. (Is size limited by Matomo?)
default: result of defaultName(link)


6. document_listener
--------------------
By default, listeners will get attached to the element identified by the selector, e.g.:

  $('div.something a').on('click', function(){ ... });

But in some cases we have to attach the listener to the document node in the DOM, e.g.:

  $(document).on('click', 'div.something a', function(){ ... });

This syntax enables listening for events on elements that are dynamically added to the DOM
after the initial pageload. Also, in some cases we have to explicitly match the syntax used
by Blacklight's own event listeners.

Possible values: true


7. intercept
------------
Optional instructions inserted immediately after the click/event. In some cases we need to
prevent the default browser behavior for the action; others we need to stop the click
from propagating up to parent elements to prevent unwanted click events. E.g.:

  e.preventDefault();
  e.stopPropagation();

======================================================================================
%>

<%
@selectors = {

  #// ===================
  #// MASTHEAD & FOOTER
  #// ===================

  #// Branding
  "#header-navbar a.navbar-dul": {
    category: "'masthead'",
    action: "'branding'",
    name: "'DUL logo'"
  },
  "#header-navbar a.navbar-product-name": {
    category: "'masthead'",
    action: "'branding'",
    name: "'catalog home'"
  },

  #// Search Box
  "#header-navbar form.search-query-form": {
    event: "submit",
    category: "'search box'",
    action: "'submit search box'",
    name: "'(not tracked)'"
  },

  #// Typeahead Suggestions
  "#header-navbar .tt-menu p.tt-suggestion": {
    category: "'search box'",
    action: "'typeahead suggestion'",
    name: "'suggested ' + $(this).find('.tt-category').text() + ' click'",
    document_listener: true
  },

  "#header-navbar form.search-query-form select.form-select": {
    category: "'search box'",
    action: "'search scope selector'",
    name: "'search scope dropdown click'",
    document_listener: true
  },
  "#header-navbar form.search-query-form select.form-select.search-field": {
    event: "change",
    category: "'search box'",
    action: "'search scope selector'",
    document_listener: true
  },
  "#header-navbar form.search-query-form input#q": {
    category: "'search box'",
    action: "'basic search'",
    name: "'keyword search field click'"
  },

  "#header-navbar form.search-query-form .search-extra-controls a:not(#bookmarks_nav)": {
    category: "'search box'",
    action: "'extra controls'"
  },

  "#header-navbar form.search-query-form .search-extra-controls #bookmarks_nav": {
    category: "'search box'",
    action: "'extra controls'",
    name: "'view bookmarks'"
  },

  "#header-navbar #primary-menu a": {
    category: "'masthead'",
    action: "'primary menu'"
  },

  "#dul-masthead-row a": {
    category: "'masthead'",
    action: "'shared DUL menu'",
    document_listener: true
  },
  "#trln-banner .trln-home-link": {
    category: "'masthead'",
    action: "'TRLN submast'",
    name: "'TRLN portal link'"
  },

  #// Footer
  "footer a": {
    category: "'footer'",
    action: "'footer links'"
  },

  #// =========================
  #// SEARCH & BROWSE RESULTS
  #// =========================
  #// Keep actions consistent with item show page for any elements
  #// that appear in both contexts, e.g., Request or Map/Info links.

  #// You Searched For...
  "#appliedParams a#startOverLink": {
    category: "'search results'",
    action: "'search revision'"
  },

  "#appliedParams .applied-filter a.remove": {
    category: "'search results'",
    action: "'search revision'",
    name: "'remove constraint'"
  },

  #// Search suggestions
  "#spell a": {
    category: "'search results'",
    action: "'spelling suggestion'",
  },

  #// TRLN vs. Duke Toggle
  "#toggle-local-btn-top": {
    category: "'search results'",
    action: "'toggle Duke or TRLN'",
    name: "'toggle to Duke (top)'"
  },
  "#toggle-trln-btn-top": {
    category: "'search results'",
    action: "'toggle Duke or TRLN'",
    name: "'toggle to TRLN (top)'"
  },

  "#toggle-local-btn-bottom": {
    category: "'search results'",
    action: "'toggle Duke or TRLN'",
    name: "'toggle to Duke (bottom)'"
  },
  "#toggle-trln-btn-bottom": {
    category: "'search results'",
    action: "'toggle Duke or TRLN'",
    name: "'toggle to TRLN (bottom)'"
  },

  #// Results Section
  "#documents.documents-list .document .index_title a": {
    category: "'search results'",
    action: "'search result title'",
    name: "$(this).closest('[data-document-id]').data('document-id')"
  },

  "#documents.documents-list .document .primary-url a": {
    category: "'search results'",
    action: "'view online | ' + ($(this).data('original-title') || $(this).text())",
    name: "$(this).closest('[data-document-id]').data('document-id')",
    document_listener: true
  },

  "#documents.documents-list .document .map-info a": {
    category: "'search results'",
    action: "'map/info link'",
    name: "$(this).closest('[data-document-id]').data('document-id')"
  },

  "#documents.documents-list .document .items-toggle a.expander": {
    category: "'search results'",
    action: "'show more items' + (($(this).attr('aria-expanded') == 'false') ? ' [expand]' : ' [collapse]')",
    name: "$(this).closest('[data-document-id]').data('document-id')"
  },

  "#documents.documents-list .document .items-wrapper .expandable-content-controls .show-control a": {
    category: "'search results'",
    action: "'expand holdings' + ($(this).hasClass('btn-show') ? ' [expand]' : ' [collapse]')",
    name: "$(this).closest('[data-document-id]').data('document-id')"
  },

  "#documents.documents-list .document button.staff-view-toggle": {
    category: "'search results'",
    action: "'staff view' + (link.is('.shown') ? ' [show]' : ' [hide]')",
    name: "$(this).closest('[data-document-id]').data('document-id')"
  },

  #// Keep action consistent with item page for this control
  "#documents.documents-list .document .index-document-functions a.request-from-duke": {
    category: "'search results'",
    action: "'Request (Duke)'",
    name: "$(this).closest('[data-document-id]').data('document-id')"
  },

  "#documents.documents-list .document .index-document-functions a.request-from-trln": {
    category: "'search results'",
    action: "'Request (TRLN)'",
    name: "$(this).closest('[data-document-id]').data('document-id')"
  },

  #// Keep action consistent with item page for this control
  "#documents.documents-list .document .index-document-functions form.bookmark-toggle label.toggle-bookmark": {
    category: "'search results'",
    action: "'bookmark | '  + ($(this).find('input').is(':checked') ? 'remove' : 'add')",
    name: "$(this).closest('[data-document-id]').data('document-id')",
    document_listener: true
  },

  #// Modal can appear on search results or item view
  "#trln-request-modal a": {
    category: "'TRLN request'",
    action: "'choose home library: ' + defaultName($(this))",
    name: "$(this).data('document-id')"
  },

  #// Results Display Options
  "#sortAndPerPage #sort-dropdown a, #sortAndPerPage #sort-dropdown button": {
    category: "'search results'",
    action: "'sort by'"
  },

  "#sortAndPerPage #per_page-dropdown a, #sortAndPerPage #per_page-dropdown button": {
    category: "'search results'",
    action: "'per page'"
  },

  "#sortAndPerPage #rss_button": {
    category: "'search results'",
    action: "'RSS button'"
  },

  "#sortAndPerPage .page_links a": {
    category: "'search results'",
    action: "'pagination top'"
  },

  "#sortAndPerPage .clear-bookmarks": {
    category: "'search results'",
    action: "'bookmarks | clear'"
  },

  "body.blacklight-catalog-index .pagination ul.pagination a, body.blacklight-trln-index .pagination ul.pagination a": {
    category: "'search results'",
    action: "'pagination bottom'"
  },

  #// Bookmarks page
  ".bookmarksTools a": {
    category: "'search results'",
    action: "'bookmarks | send'"
  },

  #// No Results Found pages
  ".no-results .view_trln_results a": {
    category: "'no results'",
    action: "'trln results button'"
  },

  ".no-results a:not(.view_trln_results a)": {
    category: "'no results'",
    action: "'other links'"
  },

  #// ===========================
  #// ADVANCED SEARCH FORM
  #// ===========================

  "body.blacklight-catalog-advanced_search form.advanced": {
    event: "submit",
    category: "'advanced search form'",
    action: "'submit advanced search'",
    name: "'(not tracked)'"
  },

  "body.blacklight-catalog-advanced_search form.advanced .advanced-search-start-over": {
    category: "'advanced search form'",
    action: "'advanced search options'"
  },

  "body.blacklight-catalog-advanced_search form.advanced select#op": {
    category: "'advanced search form'",
    action: "'advanced search options'",
    name: "'all/any toggle'"
  },

  "body.blacklight-catalog-advanced_search form.advanced select#sort": {
    category: "'advanced search form'",
    action: "'advanced search options'",
    name: "'sort results by...'"
  },

  "body.blacklight-catalog-advanced_search form.advanced select": {
    event: "change",
    category: "'advanced search form'",
    action: "'advanced search options'",
    name: "$(this).find('option:selected').text()"
  },

  #// =====================
  #// FACETS
  #// =====================

  ".facet-limit .facet-field-heading button": {
    category: "'facets'",
    action: "$(this).attr('data-target').substring(1)"
  },

  ".facet-limit ul.facet-values a": {
    category: "'facets'",
    name: "'(not tracked)'"
  },

  ".facet-limit .more_facets a": {
    category: "'facets'"
  },

  "#blacklight-modal .facet-extended-list a": {
    category: "'facets'",
    name: "'(not tracked)'",
    document_listener: true
  },

  "#blacklight-modal .facet-pagination a": {
    category: "'facets'",
    document_listener: true
  },

  #// Hierarchical Facets (All)
  ".facet-hierarchy a.facet-select": {
    category: "'facets'",
    name: "'(not tracked)'",
    document_listener: true
  },

  #// Checkbox Facets (Must Do for Each Used)
  "#facet-access_type_f #checkbox_access_type_f": {
    category: "'facets'",
    action: "'facet-access_type_f'",
    name: "'Available Online' + ($(this).is(':checked') ? ' [check]' : ' [uncheck]')",
    document_listener: true
  },

  #// Blacklight Range Limit Plugin Facet (Date Slider)
  "#facet-publication_year_isort input#range_publication_year_isort_begin": {
    category: "'facets'",
    action: "'facet-publication_year_isort'",
    name: "'year range begin'",
    document_listener: true
  },
  "#facet-publication_year_isort input#range_publication_year_isort_end": {
    category: "'facets'",
    action: "'facet-publication_year_isort'",
    name: "'year range end'",
    document_listener: true
  },
  "#facet-publication_year_isort div.slider-track": {
    category: "'facets'",
    action: "'facet-publication_year_isort'",
    name: "'year range slider'",
    document_listener: true
  },
  "#facet-publication_year_isort div.chart_js": {
    category: "'facets'",
    action: "'facet-publication_year_isort'",
    name: "'year range histogram'",
    document_listener: true
  },
  "#facet-publication_year_isort form": {
    event: "submit",
    category: "'facets'",
    action: "'facet-publication_year_isort'",
    name: "'year range submit limit'",
    document_listener: true
  },

  #// ===========================
  #// ITEM SHOW PAGE & SIDEBAR
  #// ===========================
  #// Keep actions consistent with search results page for any elements
  #// that appear in both contexts, e.g., Request or Map/Info links.

  "#show-sidebar a.sidebar-top-link": {
    category: "'item sidebar'",
    action: "'sidebar nav | back to top (link)'",
    name: "$('#document').data('document-id')"
  },

  "#show-sidebar a.sidebar-thumb-link": {
    category: "'item sidebar'",
    action: "'sidebar nav | back to top (link)'",
    name: "$('#document').data('document-id')"
  },

  "#show-sidebar a.request-from-duke": {
    category: "'item sidebar'",
    action: "'Request (Duke)'",
    name: "$('#document').data('document-id')"
  },

  "#show-sidebar a.request-from-trln": {
    category: "'item sidebar'",
    action: "'Request (TRLN)'",
    name: "$('#document').data('document-id')"
  },

  "#show-sidebar .doc-tools a": {
    category: "'item sidebar'",
    action: "'item tools | ' + defaultName($(this))",
    name: "$('#document').data('document-id')"
  },

  "#show-sidebar .doc-tools button": {
    category: "'item sidebar'",
    action: "'item tools | ' + defaultName($(this))",
    name: "$('#document').data('document-id')"
  },

  "#show-sidebar .sidebar-menu a": {
    category: "'item sidebar'",
    action: "'sidebar nav | ' + defaultName($(this))",
    name: "$('#document').data('document-id')"
  },

  "#show-sidebar form.bookmark-toggle label.toggle-bookmark": {
    category: "'item sidebar'",
    action: "'bookmark | '  + ($(this).find('input').is(':checked') ? 'remove' : 'add')",
    name: "$('#document').data('document-id')",
    document_listener: true
  },

  "#previousNextDocument a": {
    category: "'item page'",
    action: "'item to results nav'"
  },

  #// Mobile show tools (not in sidebar)
  ".show-tools a.request-from-trln": {
    category: "'item page'",
    action: "'Request (TRLN)'",
    name: "$('#document').data('document-id')"
  },

  ".show-tools a.request-from-duke": {
    category: "'item page'",
    action: "'Request (Duke)'",
    name: "$('#document').data('document-id')"
  },

  ".show-tools .doc-tools a": {
    category: "'item page'",
    action: "'item tools | ' + defaultName($(this))",
    name: "$('#document').data('document-id')"
  },

  ".show-tools .doc-tools button": {
    category: "'item page'",
    action: "'item tools | ' + defaultName($(this))",
    name: "$('#document').data('document-id')"
  },

  ".show-tools form.bookmark-toggle label.toggle-bookmark": {
    category: "'item page'",
    action: "'bookmark | '  + ($(this).find('input').is(':checked') ? 'remove' : 'add')",
    name: "$('#document').data('document-id')"
  },

  "#document .map-info a": {
    category: "'item page'",
    action: "'map/info link'",
    name: "$('#document').data('document-id')"
  },

  "#document .primary-url a": {
    category: "'item page'",
    action: "'view online | ' + ($(this).data('original-title') || $(this).text())",
    name: "$('#document').data('document-id')",
    document_listener: true
  },

  "#document .items-toggle a.expander": {
    category: "'item page'",
    action: "'show more items' + (($(this).attr('aria-expanded') == 'false') ? ' [expand]' : ' [collapse]')",
    name: "$('#document').data('document-id')"
  },

  "#document .items-wrapper .expandable-content-controls .show-control a": {
    category: "'item page'",
    action: "'expand holdings' + ($(this).hasClass('btn-show') ? ' [expand]' : ' [collapse]')",
    name: "$('#document').data('document-id')"
  },

  "#document button.staff-view-toggle": {
    category: "'item page'",
    action: "'staff view' + (link.is('.shown') ? ' [show]' : ' [hide]')",
    name: "$('#document').data('document-id')"
  },

  #// Metadata
  "#document #authors a": {
    category: "'item page'",
    action: "'author link'",
    name: "$('#document').data('document-id')"
  },

  "#document #summary a": {
    category: "'item page'",
    action: "'summary link'",
    name: "$('#document').data('document-id')"
  },

  "#document #contents a": {
    category: "'item page'",
    action: "'contents link'",
    name: "$('#document').data('document-id')"
  },

  "#document #sample-chapter a": {
    category: "'item page'",
    action: "'sample chapter link'",
    name: "$('#document').data('document-id')"
  },

  "#document #included-works a": {
    category: "'item page'",
    action: "'included works link'",
    name: "$('#document').data('document-id')"
  },

  "#document #subjects a": {
    category: "'item page'",
    action: "'subject link'",
    name: "$('#document').data('document-id')"
  },

  "#document #other-details a": {
    category: "'item page'",
    action: "'other details link'",
    name: "$('#document').data('document-id')"
  },

  "#document #related-works a": {
    category: "'item page'",
    action: "'related works link'",
    name: "$('#document').data('document-id')"
  },

  #// ===========================
  #// HOMEPAGE
  #// ===========================

  ".new-additions-heading": {
    category: "'new additions'",
    action: "'heading click'",
    name: "link.data('type')",
  },

  ".new-additions li a": {
    category: "'new additions'",
    action: "'item click'",
    name: "link.closest('.new-additions').data('type')",
    document_listener: true
  },

  ".home-welcome-links a": {
    category: "'homepage'",
    action: "'welcome help link'",
  },

  ".home-other-resources a": {
    category: "'homepage'",
    action: "'other resource link'",
  },

  ".page-header .tagline a": {
    category: "'homepage'",
    action: "'tagline link'"
  },

  "a#trln-site-link": {
    category: "'homepage'",
    action: "'TRLN logo website link'"
  },

  #// ===========================
  #// OTHER LINKS
  #// ===========================

  ".harmful-language-statement a": {
    category: "'other links'",
    action: "'harmful language statement'"
  },

  "a.feedback-link": {
    category: "'other links'",
    action: "'feedback'"
  },

  #// ===========================
  #// OTHER PAGES
  #// ===========================

  ".error-recovery-links a": {
    category: "'error page'",
    action: "'welcome help link'",
  },

}

%>

var eventTracking = (function () {

  // this isn't working right!
  var config = {
    categoryDataAttribute: 'matomo-category',
    actionDataAttribute: 'matomo-action',
    nameDataAttribute: 'matomo-name'
  }

  // PUBLIC METHODS
  // ===============

  function listenForClicks () {

    <%# Create an event listener for each selector configured above %>

    <% @selectors.each do |selector, props| %>
      <% if (props[:document_listener] === true) %>
        $(document).on('<%= props[:event] || "click contextmenu" %>', '<%= selector %>', function(e){
      <% else %>
        $('<%= selector %>').on('<%= props[:event] || "click contextmenu" %>', function(e){
      <% end %>
           <%= props[:intercept] %>
           var link = <%= props[:link] || "$(this)" %>;
           var matomo_event = {};
           matomo_event.category = <%= props[:category] || "defaultCategory(link)" %>;
           matomo_event.action = <%= props[:action] || "defaultAction(link)" %>;
           matomo_event.name = <%= props[:name] || "defaultName(link)" %>;
           matomo_event.custom_dimensions = {};
           sendEventData(matomo_event);
         });
    <% end %>

  }

  // PRIVATE METHODS
  // ===============

  function defaultCategory (link) {
    var category;

    // Default Category Determination Progression:
    // 1. a@data-matomo-category
    // 2. id of 1st parent element with id

    if (link.data(config.categoryDataAttribute)) {
      category = link.data(config.categoryDataAttribute);
    } else if (link.parent().closest('[id]').attr('id')) {
      category = link.parent().closest('[id]').attr('id'); // id from nearest ancestor with one
    } else {
      category = "top-level";
    }
    return category;
  }

  function defaultAction (link) {
    var action;

    // Default Action Determination Progression:
    // 1. a@data-matomo-action
    // 2. a@id self
    // 3. id of 1st parent element w/id

    if (link.data(config.actionDataAttribute)) {
      action = link.data(config.actionDataAttribute);
    } else if ( link.closest('[id]').attr('id') ) {
      action = link.closest('[id]').attr('id'); // own id, else nearest ancestor with one
    } else {
      action = "top-level";
    }
    return action;
  }

  function defaultName (link) {
    var name;

    // Default Name Determination Progression:
    // 1. @data-matomo-name
    // 2. use the link text or a property, different for <a>, <button>, <input> elements

    if (link.data(config.nameDataAttribute)) {
      name = link.data(config.nameDataAttribute);
    } else {

      if(link.is("[data-toggle=dropdown]")) {
        name = "dropdown" + (link.attr('aria-expanded') == 'true' ? ' [collapse]' : ' [expand]');
      } else if (link.is('a')) {
        name = ($.trim(link.text()) || link.children('img:first').attr('alt') || link.attr('title'));
      } else if (link.is('button')) {
        name = (link.attr('aria-label') || link.attr('title') || $.trim(link.text()) );
          if(link.is("[data-toggle=collapse]")) {
            name += (link.attr('aria-expanded') == 'true' ? ' [collapse]' : ' [expand]');
          }
      } else if (link.is('input')) {
        name = (link.attr('name') || link.attr('value') || link.attr('placeholder'));
      } else {
        name = "no name";
      }
    }

    return name;
  }

  function sendEventData(matomo_event) {

    let matomoConfigs = document.getElementById('matomo-configs');
    let tracking_id = matomoConfigs.dataset.matomoTrackingId;
    let debug_on = matomoConfigs.dataset.matomoDebug;

    if (tracking_id.length > 0) {
      sendDataToMatomo(matomo_event);
      // debugger;
    }
    if (debug_on == 'true') {
      console.log('Matomo Event Track', [matomo_event.category, matomo_event.action, matomo_event.name]);
      // debugger;
    }
  }

  function sendDataToMatomo(matomo_event) {

    // See https://developer.matomo.org/guides/tracking-javascript-guide

    _paq.push(['trackEvent', matomo_event.category,
                             matomo_event.action,
                             matomo_event.name
              ]);
  }

  return {
    // Expose Public Methods
    listenForClicks: listenForClicks
  };

})();
