// Duke DUL Styles Adapted From:
// Cosmo 3.2.0
// Bootswatch
// -----------------------------------------------------

@import url("//fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,700&amp;subset=cyrillic,cyrillic-ext,greek,greek-ext,latin-ext");

// Navbar =====================================================================


.navbar-inverse {

  background-color: $brand-primary;

  .badge {
    background-color: #fff;
    color: $brand-primary;
  }
}

// Buttons ====================================================================



// Typography =================================================================

body {
  -webkit-font-smoothing: antialiased;
}

.text-primary,
.text-primary:hover {
  color: $brand-primary;
}


.text-success,
.text-success:hover {
  color: $brand-success;
}

.text-danger,
.text-danger:hover {
  color: $brand-danger;
}

.text-warning,
.text-warning:hover {
  color: $brand-warning;
}

.text-info,
.text-info:hover {
  color: $brand-info;
}

h1 {
  color: $gray-900;
}

h1,h2,h3,h4,h5,h6 {
  a:link {
    text-decoration: none;
  }
}

// Tables =====================================================================

table,
.table {

  a:not(.btn) {
    text-decoration: underline;
  }

  .success,
  .warning,
  .danger,
  .info {
    color: #fff;

    a {
      color: #fff;
    }
  }
}

// Forms ======================================================================


.has-warning {
  .form-text,
  .col-form-label,
  .form-control-feedback {
    color: $brand-warning;
  }

  .form-control,
  .form-control:focus,
  .input-group-addon {
    border: 1px solid $brand-warning;
  }
}

.has-error {
  .form-text,
  .col-form-label,
  .form-control-feedback {
    color: $brand-danger;
  }

  .form-control,
  .form-control:focus,
  .input-group-addon {
    border: 1px solid $brand-danger;
  }
}

.has-success {
  .form-text,
  .col-form-label,
  .form-control-feedback {
    color: $brand-success;
  }

  .form-control,
  .form-control:focus,
  .input-group-addon {
    border: 1px solid $brand-success;
  }
}

// Navs =======================================================================

.nav-pills {

  & > li > a {
    border-radius: 0;
  }
}

.dropdown-menu {

  & > li > a:hover,
  & > li > a:focus {
    background-image: none;
  }
}

.dropdown-header {
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 1em;
}

// Indicators =================================================================

.close {
  text-decoration: none;
  text-shadow: none;
  opacity: 0.4;

  &:hover,
  &:focus {
    opacity: 1;
  }
}

.alert {
  border: 0 solid transparent !important;
  border-left-width: 0.75em !important;
  
  .alert-link {
    text-decoration: underline;
    color: #fff;
  }

  ul {
    padding-left: 2em;
  }
}
.alert.preview-alert {
  margin-top: 0 !important;
  border-left-width: 0 !important;
}

.badge {
  border-style: solid;
  border-width: 1px 1px 1px 0.8em;
  &.badge-default {
    border-radius: 0;
    background-color: white;
    color: $gray-800;
    padding: .25em .6em .3em;
  }
  &.badge-primary {
    border-color: $brand-primary;
    border-radius: 0;
    background-color: white;
    color: $gray-800;
    padding: .25em .6em .3em;
  }
  &.badge-success {
    border-color: $brand-success;
    border-radius: 0;
    background-color: white;
    color: $gray-800;
    padding: .25em .6em .3em;
  }
  &.badge-info {
    border-color: $brand-info;
    border-radius: 0;
    background-color: white;
    color: $gray-800;
    padding: .25em .6em .3em;
  }
  &.badge-warning {
    border-color: $brand-warning;
    border-radius: 0;
    background-color: white;
    color: $gray-800;
    padding: .25em .6em .3em;
  }
  &.badge-danger {
    border-color: $brand-danger;
    border-radius: 0;
    background-color: white;
    color: $gray-800;
    padding: .25em .6em .3em;
  }
}

.alert-success { 
  color: #545f07 !important;
  background-color: #ecf1cf !important;
  border-color: #a1b70d !important;
  margin-top: 1rem;
}

.alert-danger {
  color: #682900 !important;
  background-color: #f4dccc !important;
  border-color: #c84e00 !important;
  margin-top: 1rem;
}

.alert-warning {
  color: #857132 !important;
  background-color: #fff7df !important;
  border-color: #ffd960 !important;
  margin-top: 1rem;
  p {
    color: #533f03 !important;
  }
}

.alert-info {
  color: #00286a !important;
  background-color: #ccdbf5 !important;
  border-color: #004ccc !important;
  margin-top: 1rem;
}


// Progress bars ==============================================================

.progress {
  height: 8px;
  @include box-shadow(none);
  .progress-bar {
    font-size: 8px;
    line-height: 8px;
  }
}

// Containers =================================================================

.panel-heading,
.panel-footer {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}

.panel-default {
  .close {
    color: $body-color;
  }
}

.modal {
  .close {
    color: $body-color;
  }
}

.popover {
  color: $body-color;
}


// Type Variants (Duke Custom) ==================================================

.strong { font-weight: bold; }


// Grid Variants (Duke Custom) ==================================================
// Replace these with native utility classes if upgrading to Bootstrap 4 ========

.no-gutter > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}


.buffer-bottom-10 {
  margin-bottom: 10px;
}

.buffer-bottom-20 {
  margin-bottom: 20px;
}

.buffer-bottom-30 {
  margin-bottom: 30px;
}

.buffer-bottom-40 {
  margin-bottom: 40px;
}
