<%# DUL CUSTOMIZATION: override component from TRLN Argon. See: %>
<%# https://github.com/trln/trln_argon/blob/main/app/components/trln_argon/search_bar_component.html.erb %>
<%# https://github.com/projectblacklight/blacklight/blob/release-7.x/app/components/blacklight/search_bar_component.html.erb %>

<%= form_tag @url, id: 'search-navbar', method: @method, class: @classes.join(' '), role: 'search', 'aria-label' => scoped_t('submit') do %>
  <%= render Blacklight::HiddenSearchStateComponent.new(params: @params) %>
  <% if search_fields.length > 1 %>
    <label for="search_field" class="sr-only visually-hidden"><%= scoped_t('search_field.label') %></label>
  <% end %>

    <div class="form-group mast-search mb-1 mt-2 mt-md-0">

      <div class="input-group flex-nowrap">
        <div class="input-group-prepend w-auto">
          <%= prepend %>

          <% if search_fields.length > 1 %>
              <%= select_tag(:search_field,
                           options_for_select(search_fields, h(@search_field)),
                           #title: scoped_t('search_field.title'),
                           id: "#{@prefix}search_field",
                           class: "custom-select form-select search-field") %>
          <% elsif search_fields.length == 1 %>
            <%= hidden_field_tag :search_field, @search_fields.first.last %>
          <% end %>

        </div>

        <div class="text-input-wrapper flex-grow-1">
          <label for="<%= @prefix %><%= @query_param %>" class="sr-only visually-hidden"><%= scoped_t('search.label') %></label>

          <%= text_field_tag @query_param, @q, placeholder: scoped_t('search.placeholder'),
                         class: "search-q q form-control rounded-#{@search_fields.length > 1 ? '0' : 'left'}",
                         id: "#{@prefix}q",
                         autocomplete: autocomplete_path.present? ? "off" : "",
                         autofocus: @autofocus,
                         aria: { label: scoped_t('search.label') },
                         data: { autocomplete_enabled: autocomplete_path.present?,
                                 autocomplete_path: autocomplete_path } %>
        </div>

        <div class="input-group-append">
          <%= append %>

          <button type="submit" class="btn btn-success-action search-btn" id="<%= @prefix %>search" aria-label="Submit Search">
            <span class="submit-search-text d-none d-lg-inline sr-only"><%= scoped_t('submit') %></span>
            <i class="fa fa-search" aria-hidden="true"></i>
          </button>
        </div>
      </div>
    </div>

    <div class="search-extra-controls">
      <div class="input-group">
          <%= link_to t('blacklight.advanced_search.more_options'), @advanced_search_url,
                class: 'advanced_search' %>

          <%= render 'catalog/bookmarks_button' %>
      </div>
    </div>

<% end %>
