<%# Override of TRLN Argon partial to adjust availability display. %>

<div class="items card card-body">

  <div class="availability institution-availability row">

    <% TrlnArgon::Engine.configuration.sort_order_in_holding_list.split(', ').each do |inst| %>

      <% local_doc = document.docs_with_holdings_merged_from_expanded_docs.fetch(inst, nil) %>

      <% if display_expanded_holdings_and_links?(document, local_doc, inst) %>

        <div class="<%= institution_location_header_class %>">

          <%# adding holding_id here to target for api status %>
          <% if local_doc.present? && local_doc.record_owner == 'duke' %>
            <% if local_doc._source["items_a"].present? %>
              <% active_holding = JSON.parse(local_doc._source["items_a"].first)["holding_id"] %>
              <h4 id="holding-<%= active_holding %>">
            <% else %>
              <h4>
            <% end %>
          <% else %>
            <h4>
          <% end %>

            <%= t("trln_argon.institution.#{inst}.long_name") %>

            <% if display_items?(document: local_doc) %>

                <%# duke records will currently almost always return 'not available'
                    via TRLN 'availability' helper (/lib/trln_argon/solr_document.rb)
                    so for now we will treat them differently - but we should revisit this!%>
                <% if local_doc.present? && local_doc.record_owner == 'duke' %>

                  <%# check where we've got the status set %>
                  <% if local_doc._source["available_a"].present? %>
                    <% holding_text = local_doc.availability %>
                  <% elsif local_doc._source["holdings_a"].present? %>
                    <% holding_text = JSON.parse(local_doc._source["holdings_a"].first)["status"] %>
                  <% else %>
                    <% holding_text = 'Check Holdings' %>%
                  <% end %>

                  <%# also need to set the class %>
                  <% if holding_text.downcase == 'available' %>
                    <% holding_class = 'item-available' %>
                  <% elsif holding_text.downcase == 'not available' %>
                    <% holding_class = 'item-not-available' %>
                  <% else %>
                    <% holding_class = 'item-availability-misc' %>
                  <% end %>

                  <%# output the status %>
                  <span class="<%= holding_class %> available">
                    <%= holding_text %>
                  </span>

                <% else %>
                  <%# non-duke records -- previous default behavior %>
                  <span class="<%= binary_availability_span_class(document: local_doc) %> available">
                    <%= local_doc.present? ? local_doc.availability : 'Available' %>
                  </span>
                <% end %>

            <% end %>

          </h4>

        </div>

        <div class="<%= item_class %>">

          <%= render partial: 'fulltext_links', locals: { document: document, inst: inst} %>

        </div>

      <% end %>

    <% end %>

  </div>

</div>
