<div id="trln-banner" aria-label="TRLN banner" role="navigation">
  <div class="container">
    <%= link_to t('blacklight.home.trln_submast_html').html_safe, search_action_url, \
          class: 'trln-home-link' %>
  </div>
</div>
