<%# Override trln_argon layout; we don't want the <section> element wrappers. See: %>
<%# https://github.com/trln/trln_argon/blob/argon-2/app/views/layouts/catalog_result.html.erb %>
<%# https://github.com/projectblacklight/blacklight/blob/main/app/views/layouts/catalog_result.html.erb %>

<%= render template: "layouts/blacklight/base" %>
